<ion-row class="formulas-table">
  <ion-col class="formulas-col">
    <ion-row class="title-row">
      <ion-col size="12" class="title-name">{{ formula.name }}</ion-col>
    </ion-row>
    <ion-row class="title-row">
      <ion-col size="6" class="title-name">
        {{ "formulas.step" | translate }}
      </ion-col>
      <ion-col size="3">{{ "formulas.hours" | translate }}</ion-col>
      <ion-col size="3">{{ "formulas.minutes" | translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of formula.steps" class="formulas-row">
      <ion-col size="6" class="formula-name">
        {{ item.name }}
      </ion-col>
      <ion-col size="3">{{ fromMinutesToHours(item.time) | number: DECIMAL_HOUR_FORMAT }}</ion-col>
      <ion-col size="3">{{ item.time }}</ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col size="6" class="total-value total-name">{{
        "production.total" | translate
      }}</ion-col>
      <ion-col size="3" class="total-value">{{ fromMinutesToHours(totalTime()) | number: DECIMAL_HOUR_FORMAT }}</ion-col>
      <ion-col size="3" class="total-value">{{ totalTime() }}</ion-col>
    </ion-row>
  </ion-col>
</ion-row>
