<ion-row class="formulas-table">
  <ion-col class="formulas-col">
    <ion-row>
      <ion-col size="12" class="name">
        {{ formula.name }}
      </ion-col>
    </ion-row>
    <ion-row class="title-row">
      <ion-col size="6" class="title-name">
        {{ "formulas.step" | translate }}
      </ion-col>
      <ion-col size="6">{{ "formulas.duration" | translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of formula.steps" class="formulas-row">
      <ion-col size="6" class="formula-name">
        {{ item.name }}
      </ion-col>
      <ion-col size="2" class="formula-times">
        <span *ngIf="item.time && item.time>60">
          {{ getSpecificTime(item.time, "h") }} {{ "formulas.hours" | translate }}
        </span>
      </ion-col>
      <ion-col size="2" class="formula-times">
        <span *ngIf="item.time && item.time%60!==0">
          {{ getSpecificTime(item.time, "m") }} {{ "formulas.minutes" | translate }}
        </span>
      </ion-col>
      <ion-col size="2" class="formula-times">
        <span *ngIf="item.time">
          ({{ item.time }})
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col size="6" class="total-value total-name">{{
        "production.total" | translate
      }}</ion-col>
      <ion-col size="2" class="total-value formula-times">
        <span *ngIf="getSpecificTime(totalTime(), 'h')">
          {{ getSpecificTime(totalTime(), "h") }} {{ "formulas.hours" | translate }}
        </span>
      </ion-col>
      <ion-col size="2" class="total-value formula-times">
        <span *ngIf="getSpecificTime(totalTime(), 'm')">
          {{ getSpecificTime(totalTime(), "m") }} {{ "formulas.minutes" | translate }}
        </span>
      </ion-col>
      <ion-col size="2" class="total-value formula-times">
        ({{ totalTime() }})
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
