<ion-row class="formulas-list">
  <ion-col class="formulas-col">
    <ion-row class="title-row">
      <ion-col size="4" class="title-name">
        {{ "production.production_name" | translate }}
      </ion-col>
      <ion-col size="2">{{ "formulas.time" | translate }}</ion-col>
      <ion-col size="3">{{ "formulas.units" | translate }}</ion-col>
      <ion-col size="3"
        >{{ "formulas.cost.name" | translate }} ({{ CURRENCY }})</ion-col
      >
    </ion-row>
    <ion-row *ngFor="let item of formulas" class="formulas-row">
      <ion-col size="4" class="formula-name">
        {{ item.formula.name }}
      </ion-col>
      <ion-col size="2">{{ timeBeforeOven(item) }}</ion-col>
      <ion-col size="3">{{ item.number }}</ion-col>
      <ion-col size="3">{{ item.total_cost }}</ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col size="6" class="total-value total-name">{{
        "production.total" | translate
      }}</ion-col>
      <ion-col size="3" class="total-value">{{ totalUnits() }}</ion-col>
      <ion-col size="3" class="total-value">{{ totalCost() }}</ion-col>
    </ion-row>
  </ion-col>
</ion-row>
