<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon
          slot="icon-only"
          [name]="ICONS.back"
          mode="md"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'settings.course.name' | translate}} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentOptions()">
        <ion-icon
          slot="icon-only"
          [ios]="ICONS.ellipsis_h"
          [md]="ICONS.ellipsis_v"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="course-detail-content">
  <app-title [title]="course.name"></app-title>
  <ion-row *ngIf="course.description">
    <ion-col class="detail-col">
      <app-data-item
        [title]="'input.description' | translate"
        [data]="course.description"
      ></app-data-item>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>

  <ion-row>
    <ion-col class="detail-col">
      <ion-item class="input-item" lines="full">
        <ion-label color="primary" class="label">{{'formulas.can_clone' | translate}}</ion-label>
        <ion-checkbox
          class="checkbox"
          color="primary"
          [ngModel]="course.user.can_clone"
          [ngModelOptions]="{standalone: true}"
          slot="start"
          [disabled]="!(user.email === course.user.owner)"
          (ngModelChange)="changeCourse($event)"
        >
        </ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <span *ngIf="course.notes?.length > 0">
    <app-divider></app-divider>

    <ion-row>
      <ion-col class="detail-col">
        <app-show-hide-content
          (click)="showNotes = !showNotes"
          [show]="showNotes"
          [title]="'notes.notes' | translate"
        ></app-show-hide-content>
        <ion-list lines="full" class="inputs-list">
          <app-notes
            *ngIf="showNotes"
            [notes]="course.notes"
          ></app-notes>
        </ion-list>
      </ion-col>
    </ion-row>
  </span>

  <app-divider></app-divider>

  <ion-segment
    mode="ios"
    (ionChange)="segmentChanged($event)"
    [value]="segment"
    class="segment"
  >
    <ion-segment-button *ngIf="course.productions?.length > 0" value="productions">
      <ion-label>{{'production.name' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="course.formulas?.length > 0" value="formulas">
      <ion-label>{{'formulas.name' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="course.ingredients?.length > 0" value="ingredients">
      <ion-label>{{'ingredients.name' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <span *ngIf="segment == 'ingredients'">
    <ion-list
      lines="none"
      class="shared-list"
    >
      <app-ingredient-item
        *ngFor="let ingredient of course.ingredients; index as i"
        (click)="details('ingredient', ingredient.item)"
        [ingredient]="ingredient.item"
        [clickable]="true"
        [even]="(i%2==0)"
      >
      </app-ingredient-item>
    </ion-list>
  </span>
  <span *ngIf="segment == 'formulas'">
    <ion-list
    lines="none"
    class="shared-list"
  >
    <app-formula-item
      *ngFor="let formula of course.formulas; index as i"
      (click)="details('formula', formula.item)"
      [formula]="formula.item"
      [clickable]="true"
      [even]="(i%2==0)"
    ></app-formula-item>
  </ion-list>
  </span>
  <span *ngIf="segment == 'productions'">
    <ion-list
      lines="none"
      class="shared-list"
    >
      <app-production-item
        *ngFor="let production of course.productions; index as i"
        (click)="details('production', production.item)"
        [production]="production.item"
        [even]="(i%2==0)"
      ></app-production-item>
    </ion-list>
  </span>

  <app-divider *ngIf="user.email === course.user.owner && (course.user.shared_groups?.length > 0 || course.user.shared_users?.length > 0)"></app-divider>

  <ion-row *ngIf="user.email === course.user.owner && (course.user.shared_groups?.length > 0 || course.user.shared_users?.length > 0)">
    <ion-col class="detail-col">
      <app-show-hide-content
        (click)="showUserGroups = !showUserGroups"
        [show]="showUserGroups"
        [title]="'settings.user_groups.users' | translate"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="user-group-list"
        *ngIf="showUserGroups"
      >
        <app-user-group-item
          *ngFor="let user_group of course.user.shared_groups; index as i"
          [user_group]="user_group"
          [even]="(i%2==0)"
          [clickable]="false"
        ></app-user-group-item>
        <app-user-item
          *ngFor="let user of course.user.shared_users; index as i"
          [user]="user"
          [even]="course.user.shared_groups?.length%2==0 ? (i%2==0) : (i%2!=0)"
          [clickable]="false"
        ></app-user-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
