<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="production">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>{{ 'production.name' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>{{ 'recipes.name' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingredient">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>{{ 'ingredients.name' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'settings.name' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
