<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" name="settings-outline"></ion-icon>
    <ion-title> {{ 'settings.name' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large"> {{ 'settings.name' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full" class="settings-list">
    <!-- <ion-item class="info-item">
      <ion-row class="info-item-wrapper">
        <ion-col class="details-wrapper">
          <h2 class="details-name">{{ 'input.fullName' | translate }}</h2>
          <p class="details-description">{{user.name}}</p>
        </ion-col>
      </ion-row> </ion-item
    ><ion-item class="info-item">
      <ion-row class="info-item-wrapper">
        <ion-col class="details-wrapper">
          <h2 class="details-name">{{ 'input.email' | translate }}</h2>
          <p class="details-description">{{user.email}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-divider sticky>
      <ion-label>{{ 'settings.name' | translate }}</ion-label>
    </ion-item-divider> -->
    <ion-item button (click)="openLanguageChooser()">
      <ion-icon name="language-outline"></ion-icon>
      <ion-label>{{'settings.language.change' | translate}}</ion-label>
    </ion-item>
    <ion-item
      button
      [routerLink]="['change-password']"
      routerDirection="forward"
    >
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>{{'settings.password.change' | translate}}</ion-label>
    </ion-item>
    <ion-item button (click)="signOut()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>{{'settings.logout' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
