<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs-content">
    <!-- PERMISSION: FORMULA VIEW -->
    <ion-tab-button tab="formula" *appHasPermission="{name: 'FORMULA', type: 'VIEW'}">
      <ion-icon [name]="ICONS.formula"></ion-icon>
      <ion-label>{{ 'formulas.name' | translate }}</ion-label>
    </ion-tab-button>

    <!-- PERMISSION: INGREDIENT VIEW -->
    <ion-tab-button tab="ingredient" *appHasPermission="{name: 'INGREDIENT', type: 'VIEW'}">
      <ion-icon [name]="ICONS.ingredient"></ion-icon>
      <ion-label>{{ 'ingredients.name' | translate }}</ion-label>
    </ion-tab-button>

    <!-- PERMISSION: PRODUCTION VIEW -->
    <ion-tab-button tab="production" *appHasPermission="{name: 'PRODUCTION', type: 'VIEW'}">
      <ion-icon [name]="ICONS.production"></ion-icon>
      <ion-label>{{ 'production.name' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [name]="ICONS.settings"></ion-icon>
      <ion-label>{{ 'settings.name' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
