.segment-button {
  width: 50%;
}

.list-col {
  padding: 0;
}

.time-item {
  font-size: 13px;
  color: var(--ion-color-secondary);
  .time-row {
    width: 100%;
  }
}

.action-button-col {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .action-button {
    color: var(--ion-color-primary-shade);
    width: 70%;
    height: 70%;
  }
}

.steps-list {
  padding-top: 0;
  padding-bottom: 0;
}

.temperature-selector {
  margin: 10px 20px;
  border-bottom: 1px solid gray;
}
