// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.start-production-content {
  --background: var(--page-background);

  .action-button-col {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: white;

    .action-button {
      color: var(--ion-color-primary);
      width: 50px;
      height: 35px;
    }
  }

  .time-item {
    font-size: 13px;
    color: var(--ion-color-secondary);
    --padding-start: var(--page-margin);

    .time-row {
      width: 100%;
    }
  }

  .input-item {
    --padding-start: var(--page-margin);
  }
}

.list-col {
  padding: 0;
}

.steps-list {
  padding-top: 0;
  padding-bottom: 0;
}

.range-checkbox {
  margin-right: var(--page-margin);
}

.picker-label {
  color: var(--ion-color-secondary);
}
