<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/'+APP_URL.menu.routes.settings.main+'/'+APP_URL.menu.routes.settings.routes.settings"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'settings.password.change' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-password-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
          <ion-list class="inputs-list" lines="full">
            <div formGroupName="matching_passwords">
              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.password' | translate }}"
                    formControlName="password"
                    class="password-input"
                  >
                  </ion-input>
                </app-show-hide-password>
              </ion-item>

              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.confirm_password' | translate }}"
                    formControlName="confirm_password"
                    class="confirm-password-input"
                  ></ion-input>
                </app-show-hide-password>
              </ion-item>
            </div>
          </ion-list>

          <ion-button
            class="change-password-btn"
            type="submit"
            expand="block"
            [disabled]="!passwordForm.valid"
          >
            {{ 'settings.password.change' | translate }}</ion-button
          >
          <div class="error-container" *ngIf="submitError">
            <div class="error-message">
              <ion-icon [name]="ICONS.information"></ion-icon>
              <span>{{ submitError }}</span>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
