<form
  [formGroup]="passwordForm"
  (ngSubmit)="updatePassword()"
  class="password-form ion-page"
>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          mode="md"
          [defaultHref]="'/'+APP_URL.menu.routes.settings.main"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'settings.password.change' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="change-password-content">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item"
        ><ion-label
          ><a
            [routerLink]="['/'+APP_URL.auth.name+'/'+APP_URL.auth.routes.forgot_password]"
            class="forgot-password-link"
            >{{ 'auth.forgot_password' | translate }}</a
          ></ion-label
        ></ion-item
      >
      <app-divider></app-divider>
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input
            type="password"
            placeholder="{{ 'input.actual_password' | translate }}"
            formControlName="actual_password"
            class="password-input"
          >
          </ion-input>
        </app-show-hide-password>
      </ion-item>
      <div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input
              type="password"
              placeholder="{{ 'input.password' | translate }}"
              formControlName="password"
              class="password-input"
            >
            </ion-input>
          </app-show-hide-password>
        </ion-item>
        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input
              type="password"
              placeholder="{{ 'input.confirm_password' | translate }}"
              formControlName="confirm_password"
              class="confirm-password-input"
            ></ion-input>
          </app-show-hide-password>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="submit-btn"
          type="submit"
          expand="block"
          [disabled]="!passwordForm.valid"
        >
          {{ 'settings.password.change' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
