<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'settings.password.change' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-password-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
          <ion-list class="inputs-list" lines="full">
            <div formGroupName="matching_passwords">
              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.password' | translate }}"
                    formControlName="password"
                    class="password-input"
                  >
                  </ion-input>
                </app-show-hide-password>
              </ion-item>
              <div class="error-container">
                <ng-container
                  *ngFor="let validation of validation_messages.password"
                >
                  <div
                    class="error-message"
                    *ngIf="passwordForm.get('matching_passwords').get('password').hasError(validation.type) && (passwordForm.get('matching_passwords').get('password').dirty || passwordForm.get('matching_passwords').get('password').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>

              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.confirm_password' | translate }}"
                    formControlName="confirm_password"
                    class="confirm-password-input"
                  ></ion-input>
                </app-show-hide-password>
              </ion-item>
              <div class="error-container">
                <ng-container
                  *ngFor="let validation of validation_messages.confirm_password"
                >
                  <div
                    class="error-message"
                    *ngIf="passwordForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (passwordForm.get('matching_passwords').get('confirm_password').dirty || passwordForm.get('matching_passwords').get('confirm_password').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="error-container">
              <ng-container
                *ngFor="let validation of validation_messages.matching_passwords"
              >
                <div
                  class="error-message"
                  *ngIf="passwordForm.get('matching_passwords').hasError(validation.type) && (passwordForm.get('matching_passwords').get('confirm_password').dirty || passwordForm.get('matching_passwords').get('confirm_password').touched)"
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-list>

          <ion-button
            class="change-password-btn"
            type="submit"
            expand="block"
            [disabled]="!passwordForm.valid"
          >
            {{ 'settings.password.change' | translate }}</ion-button
          >
          <div class="error-container" *ngIf="submitError">
            <div class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ submitError }}</span>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
