<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.production.main"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!update">
      {{ 'production.create' | translate }}
    </ion-title>
    <ion-title *ngIf="update">
      {{ 'production.update' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="manage-production-content"></ion-content>
