<form
  class="manage-production-form ion-page"
  [formGroup]="manageProductionForm"
  (ngSubmit)="sendProduction()"
>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.production.main"
          mode="md"
        ></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!update">
        {{ 'production.create' | translate }}
      </ion-title>
      <ion-title *ngIf="update">
        {{ 'production.update' | translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="manage-production-content">
    <ion-list class="inputs-list" lines="full">
      <ion-row>
        <ion-col class="no-padding">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'production.production_name' | translate}}</ion-label
            >
            <ion-input
              type="text"
              formControlName="name"
              class="production-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <app-divider *ngIf="!update || current_user.email === production.user.creator.email || is_modifier"></app-divider>
    
    <!-- Public / clone -->
    <ion-row *ngIf="!update || current_user.email === production.user.creator.email || is_modifier">
      <ion-col class="no-padding">
        <ion-item class="input-item" lines="full">
          <ion-label color="primary">{{'formulas.public' | translate}}</ion-label>
          <ion-checkbox
            class="formula-is-public formula-checkbox"
            color="primary"
            [(ngModel)]="public"
            [ngModelOptions]="{standalone: true}"
            slot="start">
          </ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!update || current_user.email === production.user.creator.email">
      <ion-col class="no-padding">
        <ion-item class="input-item" lines="full">
          <ion-label color="primary">{{'formulas.can_clone' | translate}}</ion-label>
          <ion-checkbox
            class="formula-can-clone formula-checkbox"
            color="primary"
            [(ngModel)]="production.user.can_clone"
            [ngModelOptions]="{standalone: true}"
            slot="start">
          </ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <app-divider></app-divider>

    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'formulas.name' | translate}}
          </ion-label>

          <ion-icon
            button
            (click)="pickFormula()"
            class="pick-formula"
            [name]="ICONS.add"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="formulas-list inputs-list">
        <ion-row
          class="title-row"
          *ngIf="production.formulas && production.formulas.length>0"
        >
          <ion-col size="8" class="title-col">
            {{'formulas.formula_name' | translate}}
          </ion-col>
          <ion-col size="4" class="title-col">
            {{'formulas.units' | translate}}
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let item of production.formulas" class="input-item">
          <ion-row class="formula-item-wrapper">
            <ion-col size="9" class="formulas-wrapper">
              <ion-row>
                <ion-col>
                  <h2 class="formulas-name">{{item.formula.name}}</h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-item>
                <ion-input
                  class="formula-number"
                  [(ngModel)]="item.number"
                  [ngModelOptions]="{standalone: true}"
                  type="number"
                  inputmode="numeric"
                  (ionBlur)="formatFormulaNumber(item)"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-icon
            [name]="ICONS.close"
            class="delete-formula"
            slot="end"
            color="primary"
            button
            (click)="deleteFormula(item)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <app-divider
      *ngIf="production.formulas && production.formulas.length>0"
    ></app-divider>

    <ion-card class="card">
      <ion-list lines="full" class="formulas-list inputs-list">
        <ion-row
          class="title-row"
          *ngIf="production.formulas && production.formulas.length>0"
        >
          <ion-col size="8" class="title-col">
            {{'formulas.formula_name' | translate}}
          </ion-col>
          <ion-col size="4" class="title-col">
            {{'formulas.warming_time' | translate}}
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let item of production.formulas" class="input-item">
          <ion-row class="formula-item-wrapper">
            <ion-col size="8" class="formulas-wrapper">
              <ion-row>
                <ion-col>
                  <h2 class="formulas-name">{{item.formula.name}}</h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-item>
                <ion-input
                  class="formula-number"
                  [(ngModel)]="item.warming_time"
                  [ngModelOptions]="{standalone: true}"
                  type="number"
                  inputmode="numeric"
                  (ionBlur)="formatFormulaNumber(item)"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="1" class="formulas-wrapper">
              <h2 class="formulas-name">
                {{'formulas.minutes'|translate}}
              </h2></ion-col
            >
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper" *ngIf="!update">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="canSend()"
        >
          {{ 'action.create' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="update" class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="canSend()"
        >
          {{ 'action.update' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
