<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/sign-in"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'auth.recover' | translate }}</ion-title>
    <ion-buttons
      slot="end"
      class="language-btn btn-med"
      fill="clear"
      color="dark"
      (click)="openLanguageChooser()"
    >
      <ion-icon name="language-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img
          class="logo-auth"
          alt="page_logo"
          src="assets/logo/logo-nav.png"
        ></ion-img>
        <h2 class="auth-title">{{ 'auth.recover_password' | translate }}</h2>
        <p class="recover-message">
          {{ 'auth.recover_indications' | translate }}
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
          <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
              <ion-input
                type="email"
                placeholder="{{ 'input.email' | translate }}"
                formControlName="email"
                clearInput
                autocapitalize="off"
                inputmode="email"
                class="email-input"
              ></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container
                *ngFor="let validation of validation_messages.email"
              >
                <div
                  class="error-message"
                  *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)"
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-list>

          <ion-button
            class="reset-password-btn"
            type="submit"
            expand="block"
            [disabled]="!forgotPasswordForm.valid"
            >{{ 'auth.reset_password' | translate }}</ion-button
          >
          <div class="error-container" *ngIf="submitError">
            <div class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ submitError }}</span>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
