.organoleptic-characteristics-content {
  --background: var(--app-background);

  .input-item {
    --padding-start: var(--app-narrow-margin);
    font-size: 14px;
  }

  .inputs-list {
    padding: 0;

    .no-padding {
      padding: 0;
    }
  }
}

ion-textarea {
  color: var(--ion-color-primary);
}
