:host {
  --page-margin: var(--app-broad-margin);
  --page-background: white;
}

.forgot-password-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .auth-title {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin));
    letter-spacing: 0.6px;
    text-align: center;
  }

  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 12px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }

  .reset-password-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }
}

.btn-med {
  font-size: 26px;
  margin: 0 10px 0 10px;
}

.logo-auth {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

ion-grid {
  padding: 10% 0;
  height: 100%;
}
ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
