:host {
  --page-margin: var(--app-broad-margin);
  --page-background: white;
}

.forgot-password-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
    font-size: 12px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .reset-password-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }
}


.logo-auth {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

ion-grid {
  padding: 10% 0;
  height: 100%;
}
ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
