
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" style="--color: var(--ion-color-contrast);"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Title' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon style="color: var(--ion-color-contrast);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="tutorial" size="12">
        <!-- Tutorial content -->
        <div markdown [data]="tutorial.markdown" ngPreserveWhitespaces></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>