<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473157975837-vauivcm831spi94ju4h63tlduu313j17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473157975837-vauivcm831spi94ju4h63tlduu313j17</string>
	<key>API_KEY</key>
	<string>AIzaSyARXGDxYV-Jzmd5jdtzLsq_8KcqMafZbNU</string>
	<key>GCM_SENDER_ID</key>
	<string>473157975837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hazpanen.casa</string>
	<key>PROJECT_ID</key>
	<string>formulapanadera</string>
	<key>STORAGE_BUCKET</key>
	<string>formulapanadera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473157975837:ios:3d362cc652d3efb3e26bf4</string>
	<key>DATABASE_URL</key>
	<string>https://formulapanadera.firebaseio.com</string>
</dict>
</plist>