:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background);
}

ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}

.btn-med {
  font-size: 26px;
  margin: 0 10px 0 10px;
}
