@import './fonts';

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #881919;
  --ion-color-primary-shade: rgb(22, 6, 0);

  /** secondary **/
  --ion-color-secondary: #6e675f;
  --ion-color-secondary-shade: #58534c;

  /** tertiary **/
  --ion-color-tertiary: #faaf3b;
  --ion-color-tertiary-shade: #cc9037;

  /** selected **/
  --ion-color-selected: #fffac4;

  /** hydration **/
  --ion-color-hydration: cornflowerblue;

  /** success **/
  --ion-color-success: #20dc6a;
  --ion-color-success-shade: #1cc25d;

  /** warning **/
  --ion-color-warning: #ffb822;
  --ion-color-warning-shade: #db9f1d;

  /** danger **/
  --ion-color-danger: #f4344f;
  --ion-color-danger-shade: #d72e46;

  /** lightest **/
  --ion-color-lightest: #ffffff;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-shade: #d7d8da;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-shade: #86888f;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-shade: #1e2023;

  /** darkest **/
  --ion-color-darkest: #000000;
}

:root {
  /* Set the font family of the entire app */
  --ion-font-family: "Rubik", sans-serif;
  
  --ion-title: "Alfa Slab One";

  --app-background: #ffffff;
  --app-background-shade: var(--ion-background-color-step-50, #f2f2f2);
  --app-background-alt: var(--ion-color-primary);
  --app-background-alt-shade: var(--ion-color-primary-shade);

  --app-narrow-margin: 12px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;

  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;
}

html.ios {
  --app-header-height: 44px;
}

html.md {
  --app-header-height: 56px;
}
