@import "./fonts";

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #881919;
  --ion-color-primary-shade: #741414;

  /** secondary **/
  --ion-color-secondary: #6e675f;
  --ion-color-secondary-shade: #58534c;

  /** tertiary **/
  --ion-color-tertiary: #faaf3b;
  --ion-color-tertiary-shade: #cc9037;

  /** selected **/
  --ion-color-selected: #fffac4;

  /** hydration **/
  --ion-color-hydration: cornflowerblue;

  /** fat **/
  --ion-color-fat: #cc9037;

  /** success **/
  --ion-color-success: #20dc6a;
  --ion-color-success-shade: #1cc25d;

  /** warning **/
  --ion-color-warning: #ffb822;
  --ion-color-warning-shade: #db9f1d;

  /** danger **/
  --ion-color-danger: var(--ion-color-tertiary);
  --ion-color-danger-shade: var(--ion-color-tertiary-shade);

  /** lightest **/
  --ion-color-lightest: #ffffff;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-shade: #d7d8da;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-shade: #86888f;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-shade: #1e2023;

  /** darkest **/
  --ion-color-darkest: #000000;
}

:root {
  /* Set the font family of the entire app */
  --ion-font-family: "Poppins", "Roboto";
  --big-title-size: 18px;
  --title-size: 16px;
  --subtitle-size: 16px;
  --description-size: 12px;
  --normal-size: 14px;
  --note-size: 12px;

  --ion-title: "Alfa Slab One";

  --app-background: var(--ion-color-light);

  --app-narrow-margin: 10px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;

  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;
}

html.ios {
  --app-header-height: 44px;
}

html.md {
  --app-header-height: 56px;
}
