<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="APP_URL.auth.sign_in"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'auth.sign_up' | translate }}</ion-title>
    <ion-buttons
      slot="end"
      class="language-btn btn-med"
      fill="clear"
      color="dark"
      (click)="openLanguageChooser()"
    >
      <ion-icon [name]="ICONS.language"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img
          class="logo-auth"
          alt="page_logo"
          [src]="ASSETS.logo"
        ></ion-img>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
              <ion-input
                placeholder="{{ 'input.fullName' | translate }}"
                formControlName="fullName"
                clearInput
                autocapitalize="off"
                class="name-input"
              ></ion-input>
            </ion-item>

            <ion-item class="input-item">
              <ion-input
                type="email"
                placeholder="{{ 'input.email' | translate }}"
                formControlName="email"
                clearInput
                autocapitalize="off"
                inputmode="email"
                class="email-input"
              ></ion-input>
            </ion-item>

            <div formGroupName="matching_passwords">
              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.password' | translate }}"
                    formControlName="password"
                    class="password-input"
                  >
                  </ion-input>
                </app-show-hide-password>
              </ion-item>

              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input
                    type="password"
                    placeholder="{{ 'input.confirm_password' | translate }}"
                    formControlName="confirm_password"
                    class="confirm-password-input"
                  ></ion-input>
                </app-show-hide-password>
              </ion-item>
            </div>
          </ion-list>

          <ion-button
            class="signup-btn"
            type="submit"
            expand="block"
            [disabled]="!signupForm.valid"
          >
            {{ 'auth.sign_up' | translate }}</ion-button
          >
          <div class="error-container" *ngIf="submitError">
            <div class="error-message">
              <ion-icon [name]="ICONS.information"></ion-icon>
              <span>{{ submitError }}</span>
            </div>
          </div>
          <ion-row class="other-auth-options-row">
            <ion-col class="align-text-end">
              <a class="login-btn" [routerLink]="[APP_URL.auth.sign_in]">
                {{ 'auth.account_question' | translate }}
              </a>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
