<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.production"></ion-icon>
    <ion-title> {{ 'production.name' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createProduction()" class="create-production">
        <ion-icon slot="icon-only" [name]="ICONS.add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="production-content">
  <span *ngIf="productions?.length > 0; else emptyBlock">
    <p
      *ngFor="let production of productions; index as i"
      (click)="productionDetails(production)"
    >
      {{production.name}}
    </p>
  </span>

  <ng-template #emptyBlock>
    <ion-row class="empty-block">
      <ion-col class="ion-text-center ion-padding">
        <h5>
          {{ 'production.empty' | translate }}<br /><a
            (click)="createProduction()"
            >{{ 'production.create' | translate }}</a
          >
        </h5>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
