<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.production"></ion-icon>
    <ion-title> {{ 'production.name' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createProduction()" class="create-production">
        <ion-icon slot="icon-only" [name]="ICONS.add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item *ngIf="production_in_process" class="production-in-process">
    <ion-label>{{'production.executing' | translate}}</ion-label>
    <ion-icon
      [name]="ICONS.go"
      slot="end"
      button
      (click)="navigateToProductionInProcess(production_in_process)"
    ></ion-icon>
  </ion-item>

  <ion-toolbar class="filters-toolbar" mode="ios">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar
          mode="ios"
          class="items-searchbar"
          animated
          [(ngModel)]="searchQuery"
          (ionChange)="searchList()"
          placeholder="{{'ingredients.filter.name' | translate}}"
        ></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button
          fill="clear"
          color="secondary"
          class="filters-btn"
          (click)="showFilters = !showFilters"
        >
          <ion-icon slot="icon-only" [name]="ICONS.options"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="costRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header cost-range-header">
            <span class="range-label"
              >{{'ingredients.filter.cost' | translate}} ({{currency}})</span
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cost-input">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'ingredients.filter.min' | translate}}</ion-label
            >
            <ion-input
              type="text"
              inputmode="decimal"
              formControlName="lower"
              class="ingredient-cost-lower"
              (ionBlur)="searchList()"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="cost-input">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'ingredients.filter.max' | translate}}
            </ion-label>
            <ion-input
              type="text"
              inputmode="decimal"
              formControlName="upper"
              class="ingredient-cost-upper"
              (ionBlur)="searchList()"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="production-content">
  <span *ngIf="productions?.length > 0 || filteredCourses()?.length > 0; else emptyBlock">
    <!-- Mine -->
    <span *ngIf="productionsSegment('mine')?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showMine = !showMine"
        [show]="showMine"
        [title]="'formulas.share.mine' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="productions-list"
        *ngIf="showMine"
      >
        <app-production-item
          *ngFor="let production of productionsSegment('mine'); index as i"
          (click)="productionDetails(production)"
          [production]="production"
          [even]="(i%2==0)"
        ></app-production-item>
      </ion-list>
    </span>

    <!-- Shared -->
    <span *ngIf="productionsSegment('shared')?.length > 0 || filteredCourses()?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showShared = !showShared"
        [show]="showShared"
        [title]="'formulas.share.shared' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="productions-list"
        *ngIf="showShared && !isLoading && filteredCourses()?.length > 0"
      >
        <app-title-divider
          [title]="'settings.course.name' | translate"
        ></app-title-divider>
        <span *ngFor="let course of filteredCourses(); index as i">
          <app-shared-course-item
            [course]="course"
            type="production"
            [even]="(i%2==0)"
          ></app-shared-course-item>
        </span>
      </ion-list>
      <ion-list
        lines="none"
        class="productions-list"
        *ngIf="showShared && productionsSegment('shared')?.length > 0"
      >
        <app-title-divider
          *ngIf="!isLoading && courses?.length > 0"
          [title]="'production.name' | translate"
        ></app-title-divider>
        <app-production-item
          *ngFor="let production of productionsSegment('shared'); index as i"
          (click)="productionDetails(production)"
          [production]="production"
          [even]="(i%2==0)"
        ></app-production-item>
      </ion-list>
    </span>

    <!-- Public -->
    <span *ngIf="productionsSegment('public')?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showPublic = !showPublic"
        [show]="showPublic"
        [title]="'formulas.share.public' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="productions-list"
        *ngIf="showPublic"
      >
        <app-production-item
          *ngFor="let production of productionsSegment('public'); index as i"
          (click)="productionDetails(production)"
          [production]="production"
          [even]="(i%2==0)"
        ></app-production-item>
      </ion-list>
    </span>
  </span>
  <ng-template #emptyBlock>
    <ion-row class="empty-block">
      <ion-col class="ion-text-center ion-padding">
        <h5>
          {{ 'production.empty' | translate }}<br /><a
            (click)="createProduction()"
            >{{ 'production.create' | translate }}</a
          >
        </h5>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
