<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.ingredient.main "
        mode="md"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'ingredients.name' | translate }} </ion-title>
    <ion-buttons
      slot="primary"
      *ngIf="user.email === ingredient.creator || ingredient.can_be_modified"
    >
      <ion-button (click)="presentOptions()">
        <ion-icon
          slot="icon-only"
          [ios]="ICONS.ellipsis_h"
          [md]="ICONS.ellipsis_v"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="manage-ingredient-content">
  <ion-list class="inputs-list" lines="full">
    <app-data-item
      [title]="'ingredients.ingredient_name' | translate"
      [data]="ingredient.name"
    ></app-data-item>
    <span *ngIf="type == 'simple'">
      <app-data-item
        *ngIf="ingredient.hydration > 0"
        title="{{'ingredients.hydration' | translate}} (%)"
        [data]="ingredient.hydration"
      ></app-data-item>
      <ion-item class="input-item">
        <ion-label color="primary" class="flour-label"
          >{{'ingredients.is_flour' | translate}}</ion-label
        >
        <ion-checkbox
          color="primary"
          class="flour-checkbox"
          [checked]="ingredient.is_flour"
          [disabled]="true"
          slot="start"
        >
        </ion-checkbox>
      </ion-item>
      <app-data-item
        title="{{'ingredients.cost' | translate}}
          ({{currency}}/{{'ingredients.grams' | translate}})"
        [data]="ingredient.cost | number: DECIMAL_COST_FORMAT"
      ></app-data-item>
    </span>
    <span *ngIf="type == 'compound'">
      <app-data-item
        *ngIf="ingredient.formula.suggested_values.min"
        title="{{'ingredients.suggested_values' | translate}} (%)"
        [data]="ingredient.formula.suggested_values.min
          + ((ingredient.formula.suggested_values.max)
          ? ' - ' + ingredient.formula.suggested_values.max
          : '')"
      >
      </app-data-item>
      <app-data-item
        title="{{'ingredients.compensation_percentage' | translate}} (%)"
        [data]="ingredient.formula.compensation_percentage"
      ></app-data-item>
      <app-data-item
        [title]="'ingredients.proportion_factor.name' | translate"
        [data]="getProportionFactor()"
      ></app-data-item>
      <app-divider></app-divider>
      <ion-row>
        <ion-col class="no-padding">
          <app-show-hide-content
            (click)="showIngredients = !showIngredients"
            [show]="showIngredients"
            [title]="'ingredients.name' | translate"
          >
          </app-show-hide-content>
          <app-ingredients-list
            *ngIf="showIngredients"
            [ingredients]="ingredient.formula.ingredients"
            [bakers_percentage]="0"
          >
          </app-ingredients-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="no-padding">
          <app-show-hide-content
            (click)="showMixing = !showMixing"
            [show]="showMixing"
            [title]="'formulas.mixing_order' | translate"
          >
          </app-show-hide-content>
          <app-mixing-steps
            *ngIf="showMixing"
            [steps]="ingredient.formula.mixing"
          ></app-mixing-steps>
        </ion-col>
      </ion-row>
    </span>
  </ion-list>
</ion-content>
