.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.ingredients-list {
  padding: 0px !important;
}

.ingredient-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
}

.ingredients-name {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: black;
}

.step-selector {
  padding: 0px 10px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  max-width: 100%;
}

.delete-step {
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
}

.ios.title-default {
  padding: 0 0;
}

.step-description {
  font-size: 14px;
}

.divider {
  background-color: rgba(221, 221, 221, 0.322) !important;
  color: black;
  font-size: 13px;
  padding-left: var(--app-narrow-margin);
}

ion-item {
  --padding-start: var(--app-narrow-margin);
}
