<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.formula.main "
        mode="md"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{'formulas.name' | translate}} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentOptions()">
        <ion-icon
          slot="icon-only"
          [ios]="ICONS.ellipsis_h"
          [md]="ICONS.ellipsis_v"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="formula-detail-content">
  <app-title [title]="formula.name"></app-title>
  <app-hydration-bar [hydration]="hydration/100"></app-hydration-bar>
  <ion-item class="formula-detail" lines="full">
    <ion-label color="secondary" position="floating"
      >{{'formulas.units' | translate}}</ion-label
    >
    <ion-input
      class="editable-field"
      [(ngModel)]="units"
      (ionChange)="changeUnits($event)"
    ></ion-input>
  </ion-item>

  <ion-row>
    <ion-col size="6" class="detail-col">
      <app-data-item
        [title]="'formulas.unit_weight' | translate"
        data="{{formula.unit_weight}} {{'ingredients.grams' | translate}}"
      ></app-data-item> </ion-col
    ><ion-col size="6" class="detail-col">
      <app-data-item
        [title]="'formulas.total_weight' | translate"
        data="{{total_weight}} {{'ingredients.grams' | translate}}"
      ></app-data-item> </ion-col></ion-row
  ><ion-row
    ><ion-col class="detail-col">
      <app-data-item
        [title]="'formulas.bakers_percentage' | translate"
        data="{{bakers_percentage}} {{'ingredients.grams' | translate}}/%"
      ></app-data-item> </ion-col
    ><ion-col class="detail-col">
      <app-data-item
        [title]="'ingredients.hydration' | translate"
        data="{{hydration}} %"
      ></app-data-item> </ion-col
  ></ion-row>
  <ion-row>
    <ion-col class="detail-col">
      <app-data-item
        [title]="'formulas.cost.unitary' | translate"
        data="{{unitary_cost | number: FORMULA_COST_FORMAT}} {{currency}}"
      ></app-data-item>
    </ion-col>
    <ion-col class="detail-col">
      <app-data-item
        [title]="'formulas.cost.total' | translate"
        data="{{total_cost | number: FORMULA_COST_FORMAT}} {{currency}}"
      ></app-data-item>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>
  
  <ion-row>
    <ion-col class="detail-col">
      <ion-item class="input-item">
        <ion-label color="primary" class="label">{{'formulas.public' | translate}}</ion-label>
        <ion-checkbox class="checkbox" color="primary" [(ngModel)]="!this.formula.user.owner"
          [ngModelOptions]="{standalone: true}" slot="start" [disabled]="true">
        </ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="detail-col">
      <ion-item class="input-item">
        <ion-label color="primary" class="label">{{'formulas.can_clone' | translate}}</ion-label>
        <ion-checkbox class="checkbox" color="primary" [(ngModel)]="formula.user.can_clone"
          [ngModelOptions]="{standalone: true}" slot="start" [disabled]="true">
        </ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>

  <ion-row>
    <ion-col class="detail-col">
      <app-show-hide-content
        (click)="showIngredients = !showIngredients"
        [show]="showIngredients"
        [title]="'ingredients.name' | translate"
      ></app-show-hide-content>
      <app-ingredients-list
        *ngIf="showIngredients"
        [ingredients]="ingredients"
        [bakers_percentage]="bakers_percentage"
      >
      </app-ingredients-list>
      <span *ngFor="let step of steps">
        <app-ingredients-list
          *ngIf="step.ingredients && showIngredients"
          [ingredients]="step.ingredients"
          [name]="step.name"
        >
        </app-ingredients-list>
      </span>
      <span *ngIf="ingredients_formula.length>0 && showIngredients">
        <app-show-hide-content
          (click)="showSubIngredients = !showSubIngredients"
          [show]="showSubIngredients"
          [title]="'ingredients.subingredients' | translate"
          [subtitle]="true"
        >
        </app-show-hide-content>
        <span *ngIf="showSubIngredients">
          <app-ingredients-list
            *ngFor="let ingredientFormula of ingredients_formula"
            [ingredients]="ingredientFormula.ingredient.formula.ingredients"
            [bakers_percentage]="ingredientFormula.bakers_percentage"
            [compensation]="ingredientFormula.ingredient.formula.compensation_percentage"
            [name]="ingredientFormula.ingredient.name"
          >
          </app-ingredients-list
        ></span>
      </span>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>

  <ion-row>
    <ion-col class="detail-col">
      <app-show-hide-content
        (click)="showMixing = !showMixing"
        [show]="showMixing"
        [title]="'formulas.mixing_order' | translate"
      >
      </app-show-hide-content>
      <app-mixing-steps
        *ngIf="showMixing"
        [steps]="formula.mixing"
      ></app-mixing-steps>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>

  <ion-row>
    <ion-col class="detail-col">
      <app-show-hide-content (click)="showTimes = !showTimes" [show]="showTimes" [title]="'production.times' | translate">
      </app-show-hide-content>
      <span *ngIf="showTimes">
        <app-formula-time-table [formula]="formula"></app-formula-time-table>
      </span>
    </ion-col>
  </ion-row>

  <app-divider></app-divider>

  <ion-row
    ><ion-col class="detail-col">
      <app-show-hide-content
        (click)="showSteps = !showSteps"
        [show]="showSteps"
        [title]="'formulas.steps' | translate"
      >
      </app-show-hide-content>
      <ion-list lines="full" *ngIf="showSteps" class="steps-list">
        <app-formula-step *ngFor="let step of steps; index as i"
        [step]="step"
        [index]="i">
        </app-formula-step>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
