<form
  class="manage-formula-form ion-page"
  [formGroup]="manageFormulaForm"
  (ngSubmit)="sendFormula()"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.formula.main"
          mode="md"
        ></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!update"> {{'formulas.create' | translate}} </ion-title>
      <ion-title *ngIf="update"> {{'formulas.update' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="manage-formula-content">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label color="primary" position="stacked"
          >{{'formulas.formula_name' | translate}}</ion-label
        >
        <ion-input
          type="text"
          formControlName="name"
          class="formula-name"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label color="primary" position="stacked"
          >{{'formulas.units' | translate}}</ion-label
        >
        <ion-input
          type="number"
          formControlName="units"
          inputmode="numeric"
          class="formula-units"
          (ionBlur)="formatUnits(manageFormulaForm.value.units)"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label color="primary" position="stacked"
          >{{'formulas.unit_weight' | translate}} ({{'ingredients.grams' |
          translate}})</ion-label
        >
        <ion-input
          type="text"
          formControlName="unit_weight"
          inputmode="numeric"
          class="formula-unit-weight"
          (ionBlur)="formatUnitWeight(manageFormulaForm.value.unit_weight)"
          required
        ></ion-input>
      </ion-item>

      <app-divider></app-divider>

      <ion-row
        *ngIf="!update || current_user.email === formula.user.creator.email"
        ><ion-col class="no-padding"
          ><ion-item class="input-item">
            <ion-label color="primary"
              >{{'formulas.public' | translate}}</ion-label
            >
            <ion-checkbox
              class="formula-is-public formula-checkbox"
              color="primary"
              [(ngModel)]="public"
              [ngModelOptions]="{standalone: true}"
              slot="start"
            >
            </ion-checkbox> </ion-item></ion-col
      ></ion-row>
      <ion-row
        *ngIf="!update || current_user.email === formula.user.creator.email"
      >
        <ion-col class="no-padding">
          <ion-item class="input-item">
            <ion-label color="primary"
              >{{'formulas.can_clone' | translate}}</ion-label
            >
            <ion-checkbox
              class="formula-can-clone formula-checkbox"
              color="primary"
              [(ngModel)]="formula.user.can_clone"
              [ngModelOptions]="{standalone: true}"
              slot="start"
            >
            </ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <app-divider></app-divider>

    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'ingredients.name' | translate}}
          </ion-label>

          <ion-icon
            button
            (click)="pickIngredient()"
            class="pick-ingredient"
            [name]="ICONS.add"
          ></ion-icon>
        </ion-item>
        <ion-item
          class="unit-select-item input-item"
          lines="full"
          *ngIf="formula.ingredients && formula.ingredients.length>0"
        >
          <ion-label>{{'formulas.unit' | translate}}</ion-label
          ><ion-select
            [value]="formulaUnit"
            class="unit-selector"
            (ionChange)="changeUnit($event)"
          >
            <ion-select-option value="gr"
              >{{'ingredients.grams' | translate}}</ion-select-option
            >
            <ion-select-option value="%">%</ion-select-option>
          </ion-select></ion-item
        >
      </ion-card-header>
      <ion-list lines="full" class="inputs-list">
        <ion-item *ngFor="let item of formula.ingredients" class="input-item">
          <ion-row class="ingredient-item-wrapper">
            <ion-col size="7" class="ingredients-wrapper">
              <ion-row>
                <ion-col>
                  <h2 class="ingredients-name">{{item.ingredient.name}}</h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-item class="ingredient-input"
                ><ion-input
                  class="ingredient-percentage"
                  [(ngModel)]="item.percentage"
                  [ngModelOptions]="{standalone: true}"
                  type="number"
                  inputmode="numeric"
                  (ionBlur)="formatPercentage(item)"
                ></ion-input
              ></ion-item>
            </ion-col>
            <ion-col size="1">
              <p class="ingredient-percentage" *ngIf="!item.ingredient.formula">
                {{formulaUnit}}
              </p>
              <p class="ingredient-percentage" *ngIf="item.ingredient.formula">
                %
              </p>
            </ion-col>
          </ion-row>
          <ion-icon
            [name]="ICONS.close"
            class="delete-step"
            slot="end"
            color="primary"
            button
            (click)="deleteIngredient(item)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <app-divider></app-divider>

    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item class="input-item">
          <ion-label class="card-title">
            {{'formulas.mixing_order' | translate}}
          </ion-label>

          <ion-icon
            button
            (click)="mixIngredients()"
            class="pick-ingredient"
            [name]="ICONS.add"
            [ngClass]="{'disabled': !formula.ingredients}"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <app-mixing-steps [steps]="formula.mixing"></app-mixing-steps>
    </ion-card>

    <app-divider></app-divider>

    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item class="input-item">
          <ion-label class="card-title">
            {{'formulas.steps' | translate}}
          </ion-label>
          <ion-icon
            button
            (click)="describeSteps()"
            class="pick-ingredient"
            [name]="ICONS.add"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="steps-list inputs-list">
        <span *ngFor="let step of formula.steps; index as i">
          <ion-item-divider class="divider">
            <ion-label class="divider-label"
              >{{ "formulas.step" | translate }} {{ step.number + 1 }}: {{
              step.name }}</ion-label
            >
            <span
              (click)="pickStepIngredient(step)"
              class="add-step-ingredient"
            >
              <ion-icon button [name]="ICONS.add" slot="end"></ion-icon>
              <ion-icon button [name]="ICONS.ingredient" slot="end"></ion-icon>
            </span>
          </ion-item-divider>
          <app-formula-step
            [step]="step"
            [temperatureUnit]="temperatureUnit"
            [read]="false"
          ></app-formula-step>
          <ion-list lines="full" *ngIf="step.ingredients" class="inputs-list">
            <ion-item *ngFor="let item of step.ingredients" class="input-item">
              <ion-row class="ingredient-item-wrapper">
                <ion-col size="7" class="ingredients-wrapper">
                  <ion-row>
                    <ion-col>
                      <h2 class="ingredients-name">{{item.ingredient.name}}</h2>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input
                      class="ingredient-percentage"
                      [(ngModel)]="item.percentage"
                      [ngModelOptions]="{standalone: true}"
                      type="number"
                      inputmode="numeric"
                      (ionBlur)="formatPercentage(item)"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="1">
                  <p class="ingredient-percentage">%</p>
                </ion-col>
              </ion-row>
              <ion-icon
                [name]="ICONS.close"
                class="delete-step"
                slot="end"
                color="primary"
                button
                (click)="deleteStepIngredient(step, item)"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </span>
      </ion-list>
    </ion-card>

    <ion-row class="form-actions-wrapper" *ngIf="!update">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="(!manageFormulaForm.valid || !formula.ingredients || !formula.mixing || !formula.steps || !ingredientsAreValid())"
          >{{ 'action.create' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-content>

  <ion-footer *ngIf="update">
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="delete-btn"
          expand="block"
          color="danger"
          fill="solid"
          (click)="deleteFormula()"
          >{{ 'action.delete' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="(!manageFormulaForm.valid || !formula.ingredients || !formula.mixing || !formula.steps || !ingredientsAreValid())"
          >{{ 'action.update' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
