<form
  class="manage-formula-form ion-page"
  [formGroup]="manageFormulaForm"
  (ngSubmit)="sendFormula()"
>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.formula.main"
          mode="md"
        ></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!update"> {{'formulas.create' | translate}} </ion-title>
      <ion-title *ngIf="update"> {{'formulas.update' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="manage-formula-content">
    <ion-list class="inputs-list" lines="full">
      <!-- Main characteristics -->
      <ion-item class="input-item">
        <ion-label color="primary" position="stacked"
          >{{'formulas.formula_name' | translate}}</ion-label
        >
        <ion-input
          type="text"
          formControlName="name"
          class="formula-name"
          required
        ></ion-input>
      </ion-item>
      <ion-row>
        <ion-col class="ion-no-padding" size="6">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked">{{'formulas.units' | translate}}</ion-label>
            <ion-input
              type="number"
              inputmode="numeric"
              formControlName="units"
              class="formula-units"
              (ionBlur)="formatUnits(manageFormulaForm.value.units)"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked">{{'formulas.unit_weight' | translate}} ({{'ingredients.grams' |
                    translate}})</ion-label>
            <ion-input
              type="text"
              inputmode="decimal"
              formControlName="unit_weight"
              class="formula-unit-weight"
              (ionBlur)="formatUnitWeight(manageFormulaForm.value.unit_weight)"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item class="input-item" *ngIf="!update || current_user.email === formula.user.creator.email">
        <ion-label color="primary" position="stacked">{{'formulas.description' | translate}}</ion-label>
        <ion-textarea type="text" autoGrow="true" formControlName="description"></ion-textarea>
      </ion-item>

      <app-divider *ngIf="!update || current_user.email === formula.user.owner"></app-divider>

      <!-- Public / clone -->
      <!-- PERMISSION: SHARE MANAGE -->
      <span *appHasPermission="{name: 'SHARE', type: 'MANAGE'}">
        <ion-row *ngIf="!update || current_user.email === formula.user.owner">
          <ion-col class="no-padding">
            <ion-item class="input-item" lines="full">
              <ion-label color="primary">{{'formulas.public' | translate}}</ion-label>
              <ion-checkbox class="formula-is-public formula-checkbox" color="primary" [(ngModel)]="formula.user.public"
                [ngModelOptions]="{standalone: true}" slot="start">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!update || current_user.email === formula.user.owner">
          <ion-col class="no-padding">
            <ion-item class="input-item" lines="full">
              <ion-label color="primary">{{'formulas.can_clone' | translate}}</ion-label>
              <ion-checkbox class="formula-can-clone formula-checkbox" color="primary" [(ngModel)]="formula.user.can_clone"
                [ngModelOptions]="{standalone: true}" slot="start">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </span>
    </ion-list>

    <app-divider></app-divider>

    <!-- Bread characteristics -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'formulas.organoleptic_characteristics.name' | translate}}
          </ion-label>
    
          <ion-icon button (click)="pickOrganolepticCharacteristics()" class="pick-ingredient" [name]="ICONS.add"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="inputs-list">
        <app-organoleptic-characteristics
          *ngIf="formula.organoleptic_characteristics"
          [organoleptic_characteristics]="formula.organoleptic_characteristics"
        ></app-organoleptic-characteristics>
      </ion-list>
    </ion-card>

    <app-divider></app-divider>

    <!-- Technical notes -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'formulas.notes' | translate}}
          </ion-label>
    
          <ion-icon button (click)="addNotes()" class="pick-ingredient" [name]="ICONS.add"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="inputs-list">
        <app-notes
          *ngIf="formula.notes"
          [notes]="formula.notes"
        ></app-notes>
      </ion-list>
    </ion-card>

    <app-divider></app-divider>

    <!-- Bread references -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'formulas.references.name' | translate}}
          </ion-label>
    
          <ion-icon button (click)="addReferences()" class="pick-ingredient" [name]="ICONS.add"></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="inputs-list">
        <app-references
          *ngIf="formula.references"
          [references]="formula.references"
        ></app-references>
      </ion-list>
    </ion-card>

    <app-divider></app-divider>

    <!-- Ingredients -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'ingredients.name' | translate}}
          </ion-label>

          <ion-icon
            button
            (click)="pickIngredient()"
            class="pick-ingredient"
            [name]="ICONS.add"
          ></ion-icon>
        </ion-item>
        <ion-item
          class="unit-select-item input-item"
          lines="full"
          *ngIf="formula.ingredients && formula.ingredients.length>0"
        >
          <ion-label>{{'formulas.unit' | translate}}</ion-label
          ><ion-select
            [value]="formulaUnit"
            class="unit-selector"
            (ionChange)="changeUnit($event)"
            [cancelText]="'action.cancel'|translate"
            [okText]="'action.ok'|translate"
          >
            <ion-select-option value="gr"
              >{{'formulas.recipe' | translate}}</ion-select-option
            >
            <ion-select-option value="%">{{'formulas.formula' | translate}}</ion-select-option>
          </ion-select></ion-item
        >
      </ion-card-header>
      <ion-list lines="full" class="inputs-list">
        <ion-item *ngFor="let item of formula.ingredients" class="input-item">
          <ion-row class="ingredient-item-wrapper">
            <ion-col size="7" class="ingredients-wrapper">
              <ion-row>
                <ion-col>
                  <h2 class="ingredients-name">{{item.ingredient.name}}</h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-item class="ingredient-input"
                ><ion-input
                  type="text"
                  inputmode="decimal"
                  class="ingredient-percentage"
                  [(ngModel)]="item.percentage"
                  [ngModelOptions]="{standalone: true}"
                  (ionBlur)="formatPercentage(item)"
                ></ion-input
              ></ion-item>
            </ion-col>
            <ion-col size="1">
              <p class="ingredient-percentage">
                {{formulaUnit}}
              </p>
            </ion-col>
          </ion-row>
          <ion-icon
            [name]="ICONS.close"
            class="delete-step"
            slot="end"
            color="primary"
            button
            (click)="deleteIngredient(item)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <app-divider></app-divider>

    <!-- Mixing order -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item class="input-item" lines="full">
          <ion-label class="card-title">
            {{'formulas.mixing_order' | translate}}
          </ion-label>

          <ion-icon
            button
            (click)="addMixIngredients()"
            class="pick-ingredient"
            [name]="ICONS.add"
            [ngClass]="{'disabled': !formula.ingredients}"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <span *ngIf="formula.mixing">
        <span *ngFor="let mixing of formula.mixing; index as i">
          <ion-item
            class="content-title"
            lines="full"
          >
            <ion-row class="title-row">
              <ion-col size="10" class="no-padding">
                <h5 class="content-subtitle-name">
                  {{ mixing.name }}
                </h5>
              </ion-col>
              <ion-col size="1" class="icon-col no-padding">
                <ion-icon
                  button
                  (click)="editMixIngredients(mixing, i)"
                  class="pick-ingredient"
                  [name]="ICONS.edit"
                  [ngClass]="{'disabled': !formula.ingredients}"
                ></ion-icon>
              </ion-col>
              <ion-col size="1" class="icon-col no-padding">
                <ion-icon
                  button
                  (click)="deleteMix(i)"
                  class="pick-ingredient"
                  [name]="ICONS.close"
                  [ngClass]="{'disabled': !formula.ingredients}"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>
          <app-mixing-steps
            [steps]="mixing.mixing_order"
          ></app-mixing-steps>
        </span>
      </span>
    </ion-card>

    <app-divider></app-divider>

    <!-- Steps -->
    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item class="input-item" lines="full">
          <ion-label class="card-title">
            {{'formulas.steps' | translate}}
          </ion-label>
          <ion-icon
            button
            (click)="describeSteps()"
            class="pick-ingredient"
            [name]="(!formula.steps || formula.steps.length == 0) ? ICONS.add : ICONS.edit"
          ></ion-icon>
          <ion-icon
            *ngIf="formula.steps && formula.steps.length > 0"
            button
            (click)="deleteSteps()"
            class="pick-ingredient"
            [name]="ICONS.close"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list
        lines="full"
        class="steps-list inputs-list"
        *ngIf="formula.steps && formula.steps.length > 0"
      ><span *ngFor="let step of formula.steps; index as i">
          <ion-item-divider class="divider" mode="ios">
            <ion-label class="divider-label"
              >{{ "formulas.step" | translate }} {{ step.number + 1 }}: {{
              step.name }}</ion-label
            >
            <span
              (click)="pickStepIngredient(step)"
              class="add-step-ingredient"
            >
              <ion-icon button [name]="ICONS.add" slot="end"></ion-icon>
              <ion-icon button [name]="ICONS.ingredient" slot="end"></ion-icon>
            </span>
          </ion-item-divider>
          <app-formula-step-details
            [step]="step"
            [temperatureUnit]="temperatureUnit"
            [read]="false"
          ></app-formula-step-details>
          <ion-list lines="full" *ngIf="step.ingredients" class="inputs-list">
            <ion-item
              *ngFor="let item of step.ingredients"
              class="input-item"
              lines="full"
            >
              <ion-row class="ingredient-item-wrapper">
                <ion-col size="7" class="ingredients-wrapper">
                  <ion-row>
                    <ion-col>
                      <h2 class="ingredients-name">{{item.ingredient.name}}</h2>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <ion-item lines="full">
                    <ion-input
                      type="text"
                      inputmode="decimal"
                      class="ingredient-percentage"
                      [(ngModel)]="item.percentage"
                      [ngModelOptions]="{standalone: true}"
                      (ionBlur)="formatPercentage(item)"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="1">
                  <p class="ingredient-percentage">%</p>
                </ion-col>
              </ion-row>
              <ion-icon
                [name]="ICONS.close"
                class="delete-step"
                slot="end"
                color="primary"
                button
                (click)="deleteStepIngredient(step, item)"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </span>
      </ion-list>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper" *ngIf="update">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="dontSubmitFormula()"
          >{{ 'action.update' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row class="form-actions-wrapper" *ngIf="!update">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="dontSubmitFormula()"
        >{{ 'action.create' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
