.details-card {
  margin: 0;
  border-radius: 0px;

  .present-ingredients {
    padding-bottom: 0px;
    padding-top: 0px;
    .present-ingredients-col {
      padding: 0;
      .production-title {
        --padding-start: var(--app-narrow-margin);
      }
      .production-subtitle {
        --padding-start: var(--app-narrow-margin);
        border-top: 1px solid lightgray;
      }
    }
  }

  .title-row {
    width: 100%;
    padding: 0;

    .production-name {
      text-align: start;
      color: var(--ion-color-primary);
    }

    .production-formula-name {
      margin: 0;
      font-size: 14px;
      color: var(--ion-color-secondary);
    }

    .production-subtitle-name {
      text-align: start;
      color: var(--ion-color-secondary);
      font-size: 13px;
      margin: 0;
    }
  }

  .arrow-col {
    align-self: center;
    text-align: end;
    ion-icon {
      vertical-align: bottom;
    }
  }
}

.highlight {
  color: black;
  .title-row {
    .production-formula-name {
      margin: 0;
      font-size: 14px;
      color: black;
    }
  }
}

.no-padding {
  padding: 0;
}
