// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.ios.title-default {
  padding: 0 0;
}

ion-back-button {
  height: 0;
}

.manage-formula-content {
  --background: var(--page-background);

  .input-item {
    --padding-start: var(--page-margin);
    font-size: 14px;
  }

  .inputs-list {
    padding: 0;

    .no-padding {
      padding: 0;
    }
  }

  .card {
    margin: 0;
    border-radius: 0px;

    .card-header {
      padding: 0;

      .card-title {
        font-size: 16px;
      }
    }

    .ingredient-input {
      font-size: 16px;
    }

    .delete-step {
      margin: 0;
    }
  }

  .fields-section {
    .section-header {
      padding: 0px var(--page-margin);
      margin-top: 0px;
      margin-bottom: var(--page-margin);
    }
  }
}

.ingredient-item-wrapper {
  --ion-grid-column-padding: 0px;
  font-size: 16px;
  width: 100%;

  .ingredients-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;

    .ingredients-name {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 400;
      color: black;
    }
  }
}

.ingredient-percentage {
  text-align: end;
}

.unit-select-item {
  font-size: 14px;

  .unit-selector {
    padding: 0;
  }
}

.divider {
  background-color: rgba(221, 221, 221, 0.322) !important;
  color: black;
  font-size: 12px;
  padding-left: var(--app-narrow-margin);

  .divider-label {
    width: 90%;
    font-size: 11px;
  }
}

.add-step-ingredient {
  width: 11%;
  text-align: end;
}

.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);
  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }
}

.pick-ingredient {
  background: var(--ion-color-primary);
  color: white;
  border-radius: 5px;
  padding: 1px;
}

.disabled {
  background: lightgray;
}

.formula-checkbox {
  margin-right: var(--page-margin);
}
