.mixing-list {
  .mixing-item {
    --padding-start: 0;
  }
}

.ingredient-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;

  .ingredients-list {
    padding-left: var(--app-narrow-margin);
  }
}
.ingredients-name {
  margin: 0 !important;
  display: inline !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: black;
}

.step-note {
  margin: 0;
  margin-right: 10px;
  color: var(--ion-color-hydration);
  font-size: 20px;
}

.divider {
  background-color: rgba(221, 221, 221, 0.322) !important;
  color: black;
  font-size: 12px;
  padding-left: var(--app-narrow-margin);
}
