<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.ingredient"></ion-icon>
    <ion-title> {{ 'ingredients.name' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createIngredient()" class="create-ingredient">
        <ion-icon slot="icon-only" [name]="ICONS.add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="filters-toolbar" mode="ios">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar
          mode="ios"
          class="items-searchbar"
          animated
          [(ngModel)]="searchQuery"
          (ionChange)="searchList()"
          placeholder="{{'ingredients.filter.name' | translate}}"
        ></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button
          fill="clear"
          color="secondary"
          class="filters-btn"
          (click)="showFilters = !showFilters"
        >
          <ion-icon slot="icon-only" [name]="ICONS.options"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="hydrationRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-value"
              >{{ hydrationRangeForm.controls.dual.value.lower }}</span
            >
            <span class="range-label"
              >{{'ingredients.filter.hydration' | translate}}</span
            >
            <span class="range-value"
              >{{ hydrationRangeForm.controls.dual.value.upper }}</span
            >
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range
            class="range-control"
            formControlName="dual"
            color="primary"
            pin="true"
            dualKnobs="true"
            (ionChange)="searchList()"
            min="0"
            max="100"
            step="1"
            debounce="400"
          ></ion-range>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="fatRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-value"
              >{{ fatRangeForm.controls.dual.value.lower }}</span
            >
            <span class="range-label"
              >{{'ingredients.filter.fat' | translate}}</span
            >
            <span class="range-value"
              >{{ fatRangeForm.controls.dual.value.upper }}</span
            >
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range
            class="range-control"
            formControlName="dual"
            color="primary"
            pin="true"
            dualKnobs="true"
            (ionChange)="searchList()"
            min="0"
            max="100"
            step="1"
            debounce="400"
          ></ion-range>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="costRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header cost-range-header">
            <span class="range-label"
              >{{'ingredients.filter.cost' | translate}}
              ({{currency}}/{{'ingredients.grams' | translate}})</span
            >
          </div>
        </ion-col> </ion-row
      ><ion-row>
        <ion-col class="cost-input">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'ingredients.filter.min' | translate}}</ion-label
            ><ion-input
              type="text"
              inputmode="decimal"
              formControlName="lower"
              class="ingredient-cost-lower"
              (ionBlur)="searchList()"
            ></ion-input
          ></ion-item> </ion-col
        ><ion-col class="cost-input">
          <ion-item class="input-item"
            ><ion-label color="primary" position="stacked"
              >{{'ingredients.filter.max' | translate}}
            </ion-label>
            <ion-input
              type="text"
              inputmode="decimal"
              formControlName="upper"
              class="ingredient-cost-upper"
              (ionBlur)="searchList()"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="isFlourForm" [hidden]="!showFilters">
      <ion-row class="range-item-row"
        ><ion-col>
          <ion-item lines="full" class="no-padding-item">
            <ion-label>{{'ingredients.filter.flour' | translate}}</ion-label>
            <ion-select
              formControlName="value"
              (ionChange)="searchList()"
              [cancelText]="'action.cancel'|translate"
              [okText]="'action.ok'|translate"
            >
              <ion-select-option value="all"
                >{{'ingredients.filter.all' | translate}}</ion-select-option
              >
              <ion-select-option value="flour"
                >{{'ingredients.filter.isFlour' | translate}}</ion-select-option
              >
              <ion-select-option value="notFlour"
                >{{'ingredients.filter.notFlour' |
                translate}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col></ion-row
      >
    </form>
    <form [formGroup]="typeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row" style="margin: 0;"
        ><ion-col>
          <ion-item lines="full" class="no-padding-item">
            <ion-label>{{'ingredients.type.name' | translate}}</ion-label>
            <ion-select
              formControlName="value"
              (ionChange)="searchList()"
              [cancelText]="'action.cancel'|translate"
              [okText]="'action.ok'|translate"
            >
              <ion-select-option value="all"
                >{{'ingredients.filter.all' | translate}}</ion-select-option
              >
              <ion-select-option value="simple"
                >{{'ingredients.type.simple' | translate}}</ion-select-option
              >
              <ion-select-option value="compound"
                >{{'ingredients.type.compound' |
                translate}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col></ion-row
      >
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ingredient-content">
  <span *ngIf="ingredients?.length > 0 || filteredCourses()?.length > 0; else emptyBlock">
    <!-- Mine -->
    <span *ngIf="ingredientsSegment('mine')?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showMine = !showMine"
        [show]="showMine"
        [title]="'formulas.share.mine' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="ingredients-list"
        *ngIf="showMine"
      >
        <app-ingredient-item
          *ngFor="let ingredient of ingredientsSegment('mine'); index as i"
          (click)="ingredientDetails(ingredient)"
          [ingredient]="ingredient"
          [clickable]="true"
          [even]="(i%2==0)"
        >
        </app-ingredient-item>
      </ion-list>
    </span>

    <!-- Shared -->
    <span *ngIf="ingredientsSegment('shared')?.length > 0 || filteredCourses()?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showShared = !showShared"
        [show]="showShared"
        [title]="'formulas.share.shared' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="ingredients-list"
        *ngIf="showShared && !isLoading && filteredCourses()?.length > 0"
      >
        <app-title-divider
          [title]="'settings.course.name' | translate"
        ></app-title-divider>
        <span *ngFor="let course of filteredCourses(); index as i">
          <app-shared-course-item
            [course]="course"
            type="ingredient"
            [even]="(i%2==0)"
          ></app-shared-course-item>
        </span>
      </ion-list>
      <ion-list
        lines="none"
        class="ingredients-list"
        *ngIf="showShared && ingredientsSegment('shared')?.length > 0"
      >
        <app-title-divider
          *ngIf="!isLoading && filteredCourses()?.length > 0"
          [title]="'formulas.name' | translate"
        ></app-title-divider>
        <app-ingredient-item
          *ngFor="let ingredient of ingredientsSegment('shared'); index as i"
          (click)="ingredientDetails(ingredient)"
          [ingredient]="ingredient"
          [clickable]="true"
          [even]="(i%2==0)"
        >
        </app-ingredient-item>
      </ion-list>
    </span>

    <!-- Public -->
    <span *ngIf="ingredientsSegment('public')?.length > 0">
      <app-show-hide-content
        *ngIf="!isLoading"
        (click)="showPublic = !showPublic"
        [show]="showPublic"
        [title]="'formulas.share.public' | translate"
        [highlight]="true"
      ></app-show-hide-content>
      <ion-list
        lines="none"
        class="ingredients-list"
        *ngIf="showPublic"
      >
        <app-ingredient-item
          *ngFor="let ingredient of ingredientsSegment('public'); index as i"
          (click)="ingredientDetails(ingredient)"
          [ingredient]="ingredient"
          [clickable]="true"
          [even]="(i%2==0)"
        >
        </app-ingredient-item>
      </ion-list>
    </span>
  </span>
  <ng-template #emptyBlock>
    <ion-row class="empty-block">
      <ion-col class="ion-text-center ion-padding">
        <h5>
          {{ 'ingredients.empty' | translate }}<br /><a
            (click)="createIngredient()"
            >{{ 'ingredients.create' | translate }}</a
          >
        </h5>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
