.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.steps-list {
  padding: 0;
}

.ios.title-default {
  padding: 0 0;
}

.temperature-unit-selector {
  margin: 10px 20px;
  border-bottom: 1px solid gray;
}

.divider {
  background-color: rgba(221, 221, 221, 0.322) !important;
  color: black;
  font-size: 13px;
}
