// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
  --page-background-shade: var(--app-background-shade);
  --page-tags-gutter: 5px;
}

// Styles

.ios.title-default {
  padding: 0 0;
}

ion-back-button {
  height: 0;
}

.manage-ingredient-content {
  --background: var(--page-background);

  .input-item {
    --padding-start: var(--app-narrow-margin);

    .flour-label {
      opacity: 1 !important;
      color: var(--ion-color-medium);
    }

    .flour-checkbox {
      opacity: 1 !important;
      margin: 0;
    }
  }

  .no-padding {
    padding: 0;
  }
}
