:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
  --page-background-shade: var(--app-background-shade);
  --page-tags-gutter: 5px;
}

.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.manage-ingredient-content {
  --background: var(--page-background);

  .fields-section {
    padding: var(--page-margin) 0px;

    .section-header {
      padding: 0px var(--page-margin);
      margin-top: 0px;
      margin-bottom: var(--page-margin);
    }
  }

  .ingredient-details-fields {
    height: 100%;
    .inputs-list {
      padding: 0px var(--page-margin);
    }

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-start: 0px;
      --inner-padding-end: 0px;
    }
  }
}

.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);

  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }

  .delete-btn {
    margin: 0px;
  }
}

.ios.title-default {
  padding: 0 0;
}

.label {
  margin-top: -8px;
  font-size: 13px;
}

.value {
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
}

.steps-list {
  font-size: 12px;
  margin-top: -10px;
}
