:host {
  --page-margin: var(--app-broad-margin);
  --page-background: white;
}

.signup-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .auth-title {
    color: var(--ion-color-dark);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3 / 2));
    letter-spacing: 0.6px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 12px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }

  .signup-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .other-auth-options-row {
    justify-content: flex-end;
    align-items: center;

    ion-col {
      padding-left: 0;
      padding-right: 0;
    }

    .login-btn {
      color: var(--ion-color-secondary);
      font-size: 14px;
      margin: 0px;

      &:focus {
        outline: none;
      }
    }
  }
}

.btn-med {
  font-size: 26px;
  margin: 0 10px 0 10px;
}

.logo-auth {
  padding: 0 0 10% 0;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

ion-grid {
  padding: 10% 0;
  height: 100%;
}
ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.align-text-end {
  text-align: end;
}
