<ion-row class="ingredients-list" [ngClass]="{ 'sub-ingredient': name }">
  <ion-col class="ingredients-col">
    <ion-row *ngIf="name">
      <ion-col size="12" class="name">
        {{ name }}
      </ion-col>
    </ion-row>
    <ion-row class="title-row"
      ><ion-col [size]="!(bakers_percentage || noCompoundIngredients())?9:units?5:6" class="title-name">
        {{ "ingredients.ingredient_name" | translate }}
      </ion-col>
      <ion-col [size]="units?2:3">%</ion-col>
      <ion-col size="3" *ngIf="bakers_percentage || noCompoundIngredients()">{{
        "ingredients.grams" | translate
      }}</ion-col>
      <ion-col size="2" *ngIf="units">{{
        "formulas.units_short" | translate
      }}</ion-col></ion-row
    >
    <ion-row *ngFor="let item of ingredients" class="ingredients-row">
      <ion-col [size]="!(bakers_percentage || noCompoundIngredients())?9:units?5:6" class="ingredient-name">
        {{ item.ingredient.name }}
      </ion-col>
      <ion-col [size]="units?2:3">{{ item.percentage }}</ion-col>
      <ion-col size="3" *ngIf="bakers_percentage || noCompoundIngredients()">{{
        ingredientGrams(item.percentage)
      }}</ion-col>
      <ion-col size="2" *ngIf="units">{{
        unitGrams(ingredientGrams(item.percentage))
      }}</ion-col>
      <ion-col size="12"
        ><ion-progress-bar [value]="item.percentage / 100"></ion-progress-bar
      ></ion-col>
    </ion-row>
    <ion-row class="total-row">
      <ion-col [size]="!(bakers_percentage || noCompoundIngredients())?9:units?5:6" class="total-value total-name">{{
        "production.total" | translate
      }}</ion-col>
      <ion-col [size]="units?2:3" class="total-value">{{ totalPercentage() }}</ion-col>
      <ion-col size="3" class="total-value" *ngIf="bakers_percentage || noCompoundIngredients()">{{
        totalGrams()
      }}</ion-col>
      <ion-col size="2" class="total-value" *ngIf="units">{{
        unitTotalGrams(totalGrams())
      }}</ion-col>
    </ion-row>
  </ion-col>
</ion-row>
