.content-title {
  --padding-start: var(--app-narrow-margin);

  .title-row {
    width: 100%;
    padding: 0;

    .no-padding {
      padding: 0;
    }

    .content-name {
      text-align: start;
      color: var(--ion-color-primary);
    }

    .content-title-name {
      text-align: center;
      color: var(--ion-color-secondary);
    }

    .content-subtitle-name {
      text-align: start;
      color: var(--ion-color-secondary);
      font-size: 15px;
    }

    .arrow-col {
      align-self: center;
      text-align: end;
      ion-icon {
        vertical-align: bottom;
      }
    }
  }
}

.border-top {
  border-top: 1px solid lightgray;
}

.transparent {
  --background: transparent;
}

.highlight {
  --background: var(--ion-color-secondary);
  color: white;

  .highlight-name {
      text-align: start;
      color: white !important;
    }
}