<form
  class="manage-formula-form ion-page"
  [formGroup]="manageFormulaForm"
  (ngSubmit)="sendFormula()"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/formula"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!update"> {{'formulas.create' | translate}} </ion-title>
      <ion-title *ngIf="update"> {{'formulas.update' | translate}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="manage-formula-content">
    <section class="formula-details-fields fields-section">
      <ion-list class="inputs-list" lines="full">
        <ion-row
          ><ion-col>
            <ion-item class="input-item">
              <ion-label color="primary" position="floating"
                >{{'formulas.formula_name' | translate}}</ion-label
              >
              <ion-input
                type="text"
                formControlName="name"
                class="formula-name"
                required
              ></ion-input>
            </ion-item> </ion-col
        ></ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="input-item">
              <ion-label color="primary" position="floating"
                >{{'formulas.units' | translate}}</ion-label
              >
              <ion-input
                type="number"
                formControlName="units"
                inputmode="numeric"
                class="formula-units"
                (ionBlur)="formatUnits(manageFormulaForm.value.units)"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item class="input-item">
              <ion-label color="primary" position="floating"
                >{{'formulas.unit_weight' | translate}} ({{'ingredients.grams' |
                translate}})</ion-label
              >
              <ion-input
                type="text"
                formControlName="unit_weight"
                inputmode="numeric"
                class="formula-unit-weight"
                (ionBlur)="formatUnitWeight(manageFormulaForm.value.unit_weight)"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label class="card-title">
              {{'ingredients.name' | translate}}
            </ion-label>

            <ion-button
              size="small"
              (click)="pickIngredient()"
              class="pick-ingredient"
            >
              <ion-icon name="add-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>
        <ion-list lines="full" class="ingredients-list">
          <ion-item
            *ngFor="let item of formula.ingredients"
            class="ingredient-item"
          >
            <ion-row class="ingredient-item-wrapper">
              <ion-col size="9" class="ingredients-wrapper">
                <ion-row>
                  <ion-col>
                    <h2 class="ingredients-name">{{item.ingredient.name}}</h2>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="3">
                <p class="ingredient-percentage">
                  {{ item.percentage+formulaUnit }}
                </p>
              </ion-col>
            </ion-row>
            <ion-icon
              name="close-outline"
              class="delete-step"
              slot="end"
              color="danger"
              button
              (click)="deleteIngredient(item)"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label class="card-title">
              {{'formulas.mixing_order' | translate}}
            </ion-label>

            <ion-button
              size="small"
              (click)="mixIngredients()"
              class="mix-ingredient"
              [disabled]="!formula.ingredients"
            >
              <ion-icon name="add-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>
        <app-mixing-steps [steps]="formula.mixing"></app-mixing-steps>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label class="card-title">
              {{'formulas.steps' | translate}}
            </ion-label>
            <ion-button
              size="small"
              (click)="describeSteps()"
              class="describe-steps"
            >
              <ion-icon name="add-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-header>
        <app-formula-steps
          [steps]="formula.steps"
          [temperatureUnit]="temperatureUnit"
        ></app-formula-steps>
      </ion-card>
      <ion-row class="form-actions-wrapper" *ngIf="!update">
        <ion-col>
          <ion-button
            class="submit-btn"
            expand="block"
            color="primary"
            type="submit"
            fill="solid"
            [disabled]="(!manageFormulaForm.valid || !formula.ingredients || !formula.mixing || !formula.steps)"
            >{{ 'action.create' | translate }}</ion-button
          >
        </ion-col>
      </ion-row>
    </section>
  </ion-content>

  <ion-footer *ngIf="update">
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="delete-btn"
          expand="block"
          color="danger"
          fill="solid"
          (click)="deleteFormula()"
          >{{ 'action.delete' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="(!manageFormulaForm.valid || !formula.ingredients || !formula.mixing || !formula.steps)"
          >{{ 'action.update' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
