// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.manage-course-content {
  --background: var(--page-background);

  .inputs-list {
    padding: 0;

    .course-checkbox {
      margin-right: var(--page-margin);
    }
  }

  .input-item {
    --padding-start: var(--page-margin);
    font-size: 14px;
  }

  .card {
    margin: 0;
    border-radius: 0px;

    .card-header {
      padding: 0;

      .card-title {
        font-size: 16px;
      }
    }

    .pick-item {
      background: var(--ion-color-primary);
      color: white;
      border-radius: 5px;
      padding: 1px;
      margin-left: 6px;
    }

    .delete-item {
      margin: 0;
    }
  }

  .item-wrapper {
    --ion-grid-column-padding: 0px;
    font-size: 16px;
    width: 100%;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 0;

      .item-name {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 400;
        color: black;
      }
    }
  }
}

.no-padding {
  padding: 0;
}
