.ingredients-list {
  font-size: 13px;
  border: 1px solid var(--ion-color-primary);
  text-align: end;
  margin: var(--app-narrow-margin);

  .ingredients-col {
    padding: 0;
  }

  .title-row {
    border-bottom: 1px solid var(--ion-color-primary);
    font-style: bold;
    text-align: end;
    .title-name {
      text-align: start;
    }
  }

  .ingredients-row {
    .ingredient-name {
      text-align: start;
    }
  }
}

.sub-ingredient {
  border: 1px solid var(--ion-color-light-shade);
  margin-bottom: 0;
  .title-row {
    border-bottom: 1px solid var(--ion-color-light-shade);
  }
}
