:host {
  --page-margin: var(--app-narrow-margin);
}

.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.formulas-list {
  padding-top: 0;
  padding-bottom: 0;
}

.empty-block {
  height: 100%;

  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.ios.title-default {
  padding: 0 0;
}
