.step-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
  font-size: 14px;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: var(--page-margin);
}

.step-note {
  margin: 0;
  margin-right: 10px;
  color: cornflowerblue;
  font-size: 20px;
}

.divider {
  background-color: rgba(221, 221, 221, 0.322) !important;
  color: black;
  font-size: 13px;
}

.item-description {
  font-size: 14px;
  margin-left: -16px;
  .label {
    font-size: 12px;
    margin-top: -10px;
  }
}

.step-properties {
  margin-top: 5px;
  margin-bottom: 5px;
}

.step-description {
  margin-left: -15px;
}
