.divider {
  --background: rgba(221, 221, 221, 0.322);
  color: black;
  --padding-start: var(--page-margin);
  font-size: 12px;

  .step-row {
    width: 100%;

    .step-title {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    .step-properties {
      margin: 0;
    }
  }

  .step-image {
    width: 20%;
    max-width: 60px;
    margin: 5px 10px 5px 0;
  }
}
