<ion-item
  class="content-title"
  [ngClass]="{
    'border-top': subtitle || highlight,
    'transparent': transparent,
    'highlight': highlight
  }"
  lines="full"
>
  <ion-row class="title-row">
    <ion-col size="10" class="no-padding">
      <h5
        [ngClass]="{
          'content-name': !subtitle,
          'content-subtitle-name': subtitle,
          'highlight-name': highlight
        }"
      >
        {{ title }}
      </h5>
    </ion-col>
    <ion-col size="2" class="arrow-col no-padding">
      <ion-icon
        [name]="show ? ICONS.arrow_up : ICONS.arrow_down"
        button
      ></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>
