<ion-item
  class="content-title"
  [ngClass]="{
    'border-top': subtitle,
    'transparent': transparent
  }"
  lines="full"
>
  <ion-row class="title-row">
    <ion-col size="9" class="no-padding">
      <h5
        [ngClass]="{
          'content-name': !subtitle,
          'content-subtitle-name': subtitle
        }"
      >
        {{ title }}
      </h5>
    </ion-col>
    <ion-col size="3" class="arrow-col no-padding">
      <ion-icon
        [name]="show ? ICONS.arrow_up : ICONS.arrow_down"
        button
      ></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>
