<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.formula"></ion-icon>
    <ion-title> {{ 'formulas.name' | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button class="create-formula" (click)="createFormula()">
        <ion-icon slot="icon-only" [name]="ICONS.add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="filters-toolbar" mode="ios">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar
          mode="ios"
          class="items-searchbar"
          animated
          [(ngModel)]="searchQuery"
          (ionChange)="searchList()"
          placeholder="{{'ingredients.filter.name' | translate}}"
        ></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button
          fill="clear"
          color="secondary"
          class="filters-btn"
          (click)="showFilters = !showFilters"
        >
          <ion-icon slot="icon-only" [name]="ICONS.options"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="hydrationRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-value"
              >{{ hydrationRangeForm.controls.dual.value.lower }}</span
            >
            <span class="range-label"
              >{{'ingredients.filter.hydration' | translate}}</span
            >
            <span class="range-value"
              >{{ hydrationRangeForm.controls.dual.value.upper }}</span
            >
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range
            class="range-control"
            formControlName="dual"
            color="primary"
            pin="true"
            dualKnobs="true"
            (ionChange)="searchList()"
            min="0"
            max="100"
            step="1"
            debounce="400"
          ></ion-range>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="fatRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-value"
              >{{ fatRangeForm.controls.dual.value.lower }}</span
            >
            <span class="range-label"
              >{{'ingredients.filter.fat' | translate}}</span
            >
            <span class="range-value"
              >{{ fatRangeForm.controls.dual.value.upper }}</span
            >
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range
            class="range-control"
            formControlName="dual"
            color="primary"
            pin="true"
            dualKnobs="true"
            (ionChange)="searchList()"
            min="0"
            max="100"
            step="1"
            debounce="400"
          ></ion-range>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="costRangeForm" [hidden]="!showFilters">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header cost-range-header">
            <span class="range-label"
              >{{'ingredients.filter.cost' | translate}} ({{currency}})</span
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cost-input">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'ingredients.filter.min' | translate}}</ion-label
            >
            <ion-input
              type="number"
              inputmode="decimal"
              formControlName="lower"
              class="ingredient-cost-lower"
              (ionChange)="searchList()"
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="cost-input">
          <ion-item class="input-item">
            <ion-label color="primary" position="stacked"
              >{{'ingredients.filter.max' | translate}}
            </ion-label>
            <ion-input
              type="number"
              inputmode="decimal"
              formControlName="upper"
              class="ingredient-cost-upper"
              (ionChange)="searchList()"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="formula-content">
  <ion-segment
    mode="ios"
    (ionChange)="segmentChanged($event)"
    [value]="segment"
    class="segment"
  >
    <ion-segment-button value="mine">
      <ion-label>{{'formulas.share.mine' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="shared">
      <ion-label>{{'formulas.share.shared' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="public">
      <ion-label>{{'formulas.share.public' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <span *ngIf="formulas?.length > 0 || (courses?.length > 0 && segment == 'shared'); else emptyBlock">
    <ion-list
      lines="none"
      class="formulas-list"
      *ngIf="courses?.length > 0 && segment == 'shared'"
    >
      <app-title-divider
        [title]="'settings.course.name' | translate"
      ></app-title-divider>
      <span *ngFor="let course of courses; index as i">
        <app-shared-course-item
          [course]="course"
          type="formula"
          [even]="(i%2==0)"
        ></app-shared-course-item>
      </span>
    </ion-list>
    <ion-list
      lines="none"
      class="formulas-list"
      *ngIf="formulas?.length > 0"
    >
      <app-title-divider
        *ngIf="!isLoading && (courses?.length > 0 && segment == 'shared')"
        [title]="'formulas.name' | translate"
      ></app-title-divider>
      <app-formula-item
        *ngFor="let formula of formulas; index as i"
        (click)="formulaDetails(formula)"
        [formula]="formula"
        [clickable]="true"
        [even]="(i%2==0)"
      ></app-formula-item>
    </ion-list>
  </span>
  <ng-template #emptyBlock>
    <ion-row class="empty-block">
      <ion-col class="ion-text-center ion-padding">
        <h5>
          {{ 'formulas.empty' | translate }}<br /><a (click)="createFormula()"
            >{{ 'formulas.create' | translate }}</a
          >
        </h5>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
