<form
  class="manage-user-group-form ion-page"
  [formGroup]="manageUserGroupForm"
  (ngSubmit)="sendUserGroup()"
>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          mode="md"
          [defaultHref]="APP_URL.menu.name + '/' + APP_URL.menu.routes.settings.main + '/' + APP_URL.menu.routes.settings.routes.user_groups.main"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'settings.user_groups.name' | translate }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="presentOptions(user_group)">
          <ion-icon
            slot="icon-only"
            [ios]="ICONS.ellipsis_h"
            [md]="ICONS.ellipsis_v"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="manage-user-groups-content">
    <ion-list class="inputs-list" lines="full">
      <ion-row>
        <ion-col class="no-padding">
          <ion-item class="input-item">
            <ion-label color="medium" position="stacked"
              >{{'settings.user_groups.user_group_name' | translate}}</ion-label
            >
            <ion-input
              type="text"
              formControlName="name"
              class="user-group-name colored-field"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="no-padding">
          <ion-item class="input-item">
            <ion-label color="medium" position="stacked"
              >{{'settings.user_groups.user_group_description' | translate}}</ion-label
            >
            <ion-input
              type="text"
              formControlName="description"
              class="user-group-description colored-field"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="no-padding">
          <ion-item class="input-item">
            <ion-label color="medium" position="stacked"
              >{{'settings.user_groups.user_group_image_url' | translate}}</ion-label
            >
            <ion-input
              type="text"
              formControlName="image_url"
              class="user-group-image-url colored-field"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

    <app-divider></app-divider>

    <ion-card class="card">
      <ion-card-header class="card-header">
        <ion-item lines="full" class="input-item">
          <ion-label class="card-title">
            {{'settings.user_groups.users' | translate}}
          </ion-label>
          <ion-icon
            button
            (click)="addUser()"
            class="add-user"
            [name]="ICONS.add"
          ></ion-icon>
        </ion-item>
      </ion-card-header>
      <ion-list lines="full" class="users-list inputs-list">
        <ion-item *ngFor="let item of user_group.users index as index" class="input-item">
          <ion-row class="users-item-wrapper">
            <ion-col size="12" class="users-wrapper">
              <ion-row class="user-row">
                <ion-col class="user-col">
                  {{'settings.user_groups.user' | translate}} #{{index+1}}
                </ion-col>
              </ion-row>
              <ion-row class="title-row">
                <ion-col class="title-col">
                  {{'input.name' | translate}}
                </ion-col>
              </ion-row>
              <ion-item class="user-item">
                <ion-input
                  class="user-data colored-field"
                  [(ngModel)]="item.name"
                  [ngModelOptions]="{standalone: true}"
                ></ion-input>
              </ion-item>
              <ion-row class="title-row">
                <ion-col class="title-col">
                  {{'input.email' | translate}}
                </ion-col>
              </ion-row>
              <ion-item class="user-item">
                <ion-input
                  class="user-data colored-field"
                  [(ngModel)]="item.email"
                  [ngModelOptions]="{standalone: true}"
                  type="email"
                  inputmode="email"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-icon
            [name]="ICONS.close"
            class="delete-user"
            slot="end"
            color="primary"
            button
            (click)="deleteUser(item)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper" *ngIf="!update">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="canSend()"
        >
          {{ 'action.create' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row *ngIf="update" class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="primary"
          type="submit"
          fill="solid"
          [disabled]="canSend()"
        >
          {{ 'action.update' | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>