// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.ios.title-default {
  padding: 0 0;
}

ion-back-button {
  height: 0;
}

.manage-production-content {
  --background: var(--page-background);

  .inputs-list {
    padding: 0;

    .input-item {
      --padding-start: var(--page-margin);
      font-size: 14px;
    }
  }

  .card {
    margin: 0;
    border-radius: 0px;

    .card-header {
      padding: 0;

      .card-title {
        font-size: 16px;
      }
    }

    .input-item {
      --padding-start: var(--page-margin);
    }

    .formulas-list {
      .title-row {
        padding-left: var(--page-margin);
        border-bottom: 1px solid var(--ion-color-light-shade);

        .title-col {
          padding: 10px 0;
          height: 100%;
          align-self: center;
        }
      }
    }

    .formula-item-wrapper {
      --ion-grid-column-padding: 0px;
      font-size: 16px;
      width: 100%;

      .formulas-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .formulas-name {
          margin: 0px;
          font-size: 14px;
          font-weight: 400;
          color: black;
          align-self: center;
        }
      }
    }

    .delete-formula {
      margin: 0;
    }
  }
}

.formula-number {
  margin: 0;
  font-size: 14px;
  text-align: end;
  --padding-end: 0 !important;
}

.formula-number-units {
  margin: 0;
  font-size: 10px;
  text-align: end;
}

.form-actions-wrapper {
  --ion-grid-column-padding: calc(var(--page-margin) / 2);
  padding: calc(var(--page-margin) / 2);

  .submit-btn {
    margin: 0px;
  }
}

.no-padding {
  padding: 0;
}
