:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

.references-content {
  --background: var(--app-background);

  .input-item {
    --padding-start: var(--app-narrow-margin);
    font-size: 14px;
  }

  .inputs-list {
    padding: 0;

    .no-padding {
      padding: 0;
    }
  }
}

.references-list {
  .title-row {
    padding-left: var(--page-margin);
    border-bottom: 1px solid var(--ion-color-light-shade);

    .title-col {
      padding: 10px 0;
      height: 100%;
      align-self: center;
      font-size: 14px;
      color: gray;
    }

    .reference-url {
      padding-left: var(--page-margin);
    }
  }
}

.references-item-wrapper {
  --ion-grid-column-padding: 0px;
  font-size: 16px;
  width: 100%;

  .references-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .references-name {
      margin: 0px;
      font-size: 14px;
      font-weight: 400;
      color: black;
      align-self: center;
    }
  }
}

.delete-reference {
  margin: 0;
}

.reference-item {
  --padding-start: 0 !important;

  .reference-data {
    margin: 0;
    font-size: 14px;
  }
}

.colored-field {
  color: var(--ion-color-primary);
}
