<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.users_group"></ion-icon>
    <ion-title>{{ 'settings.user_groups.name' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" [name]="ICONS.close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="filters-toolbar" mode="ios">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar
          mode="ios"
          class="items-searchbar"
          animated
          [(ngModel)]="searchQuery"
          (ionChange)="searchList()"
          placeholder="{{'ingredients.filter.name' | translate}}"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="user-group-content">
  <ion-list
    lines="none"
    class="user-group-list"
    *ngIf="user_groups?.length > 0; else emptyBlock"
  >
    <app-user-group-item
      *ngFor="let user_group of user_groups; index as i"
      [user_group]="user_group"
      [even]="(i%2==0)"
      [selected]="isSelected(user_group)"
      (click)="clickUserGroup(user_group)"
    ></app-user-group-item>
  </ion-list>
  <ng-template #emptyBlock>
    <ion-row class="empty-block">
      <ion-col class="ion-text-center ion-padding">
        <h5>
          {{ 'settings.user_groups.empty' | translate }}
        </h5>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-row class="form-actions-wrapper">
    <ion-col>
      <ion-button
        class="submit-btn"
        expand="block"
        color="primary"
        (click)="saveGroups()"
        fill="solid"
      >
        {{ 'action.share' | translate }}</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>