<ion-list lines="none" class="mixing-list">
  <span *ngFor="let mixStep of steps; index as i">
    <ion-item-divider class="divider">
      <ion-label>{{ "formulas.step" | translate }} {{ i + 1 }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-row class="ingredient-item-wrapper">
        <ion-col class="ingredients-wrapper">
          <ion-row>
            <ion-col>
              <p
                class="ingredients-name ingredient-item"
                *ngFor="let item of mixStep.ingredients; index as i"
              >
                {{ item.ingredient.name
                }}<span *ngIf="mixStep.ingredients[i + 1]">, </span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mixStep.description">
            <ion-col>
              <ion-item class="item-description" lines="full">
                <ion-label color="primary" position="floating" class="label">{{
                  "formulas.description" | translate
                }}</ion-label>
                <p>
                  {{ mixStep.description }}
                </p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </span>
</ion-list>
