// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

ion-select {
  width: 100%;
  justify-content: center;
}

.shared-users-content {
  --background: var(--page-background);

  .shared-users-list {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.no-padding-item {
  --padding-start: 0;
}
