img { 
    border-radius: 8px;
}
.set-name {
    --background: transparent;
    ion-label {
        font-size: 7vw;
        white-space: normal;
    }
}
.normal-space {
    white-space: normal;
}
ion-list {
    ion-item {
		--border-color: rgb(230, 230, 230);
		--padding-start: 0;
		padding: 0 16px;
    }
}
ion-thumbnail {
	display: flex;
	align-items: center;
	justify-content: left;
}
img.smaller-img {
	width: 70%;
	height: 70%;
}
ion-grid {
    height: 100%;
    ion-row {
        height: 33%;
        ion-col {
            height: 100%;

            font-size: xx-small;
            .image-bg {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
            }
        }
    }
}
