:host {
  --page-margin: var(--app-narrow-margin);
}

.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.ingredients-list {
  padding-top: 0;
  ion-icon {
    padding-right: 16px;
    color: var(--ion-color-primary);
  }
}

.ingredient-item {
  color: var(--ion-color-secondary);
}

.ingredient-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: var(--page-margin);

  .ingredients-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--ion-color-primary);
  }

  .ingredients-description {
    font-size: 12px;
    margin: 0px;
  }
}

.ingredient-checkbox {
  --size: 12px;
  margin: 0px 5px -1px 5px;
  display: inline-block;
  opacity: 1;
}
