:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-background-shade: var(--app-background-shade);
  --page-tags-gutter: 5px;
}

.ios.title-default {
  padding: 0 0;
}

.title-row {
  width: 100%;
  padding: 0;

  .formula-name {
    text-align: start;
    color: var(--ion-color-primary);
  }

  .formula-title-name {
    text-align: center;
    color: var(--ion-color-secondary);
  }

  .formula-subtitle-name {
    text-align: start;
    color: var(--ion-color-secondary);
    font-size: 15px;
  }
}

.formula-detail {
  font-size: 14px;
}

.detail-col {
  padding: 0;
}

.steps-list {
  font-size: 13px;
  margin: 10px;
}

.arrow-col {
  align-self: center;
  text-align: end;
  ion-icon {
    vertical-align: bottom;
  }
}

.temperature-selector {
  margin: 10px 20px;
  border-bottom: 1px solid gray;
}

.label {
  margin-top: -8px;
}
