// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.ios.title-default {
  padding: 0 0;
}

ion-back-button {
  height: 0;
}

.formula-detail-content {
  --background: var(--page-background);

  .formula-detail {
    font-size: 14px;
    --padding-start: var(--page-margin);

    .editable-field {
      color: var(--ion-color-primary);
      font-size: 16px;
    }
  }

  .detail-col {
    padding: 0;
    background: white;

    .steps-list {
      padding-top: 0;
      padding-bottom: 0;
    }

    .divider {
      background-color: rgba(221, 221, 221, 0.322) !important;
      color: black;
      font-size: 12px;
      padding-left: var(--app-narrow-margin);

      .step-image {
        width: 20%;
        max-width: 60px;
        margin: 5px 10px 5px 0;
      }
    }
  }
}
