<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.settings"></ion-icon>
    <ion-title> {{ 'settings.name' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="options-content">
  <ion-list lines="full" class="settings-list">
    <app-data-item
      [title]="'input.fullName' | translate"
      [data]="user.name"
    ></app-data-item>
    <app-data-item
      [title]="'input.email' | translate"
      [data]="user.email"
    ></app-data-item>
    <app-divider></app-divider>
    <ion-item
      button
      routerDirection="forward"
      (click)="openAboutUs()"
      class="legal-information-option"
    >
      <ion-icon name="information-outline"></ion-icon>
      <ion-label class="option">{{ 'settings.legal.about_us' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      (click)="openTermsConditionModal('terms')"
      class="legal-information-option"
    >
      <ion-icon name="information-outline"></ion-icon>
      <ion-label class="option">{{ 'settings.legal.terms_and_conditions' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      (click)="openPrivacyPolicyModal('privacy')"
      class="legal-information-option"
    >
      <ion-icon name="information-outline"></ion-icon>
      <ion-label class="option">{{ 'settings.legal.privacy_policy' | translate }}</ion-label>
    </ion-item>
    <app-divider></app-divider>
    <ion-item
      button
      [routerLink]="[APP_URL.menu.routes.settings.routes.shared.main]"
      routerDirection="forward"
      class="users-group-option"
    >
      <ion-icon [name]="ICONS.share"></ion-icon>
      <ion-label class="option"
        >{{'formulas.share.my_shares' | translate}}</ion-label
      >
    </ion-item>
    <ion-item
      button
      [routerLink]="[APP_URL.menu.routes.settings.routes.user_groups.main]"
      routerDirection="forward"
      class="users-group-option"
    >
      <ion-icon [name]="ICONS.users_group"></ion-icon>
      <ion-label class="option"
        >{{'settings.user_groups.name' | translate}}</ion-label
      >
    </ion-item>
    <app-divider></app-divider>
    <ion-item
      button
      (click)="openLanguageChooser()"
      class="change-language-option"
    >
      <ion-icon [name]="ICONS.language"></ion-icon>
      <ion-label class="option"
        >{{'settings.language.change' | translate}}</ion-label
      >
    </ion-item>
    <ion-item
      button
      [routerLink]="[APP_URL.menu.routes.settings.routes.change_password]"
      routerDirection="forward"
      class="change-password-option"
    >
      <ion-icon [name]="ICONS.change_password"></ion-icon>
      <ion-label class="option"
        >{{'settings.password.change' | translate}}</ion-label
      >
    </ion-item>
    <ion-item button (click)="signOut()" class="sign-out-option">
      <ion-icon [name]="ICONS.sign_out"></ion-icon>
      <ion-label class="option">{{'settings.logout' | translate}}</ion-label>
    </ion-item>
    <app-divider></app-divider>
    <ion-item
      button
      [routerLink]="APP_URL.menu.routes.settings.routes.how_to_use"
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.how_to_use.name' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.tutorials' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.contact' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.social_media' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.faq' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.report_problem' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="support-option"
    >
      <ion-icon name="help-circle"></ion-icon>
      <ion-label class="option">{{ 'settings.support.help_center' | translate }}</ion-label>
    </ion-item>
    <app-divider></app-divider>
    <ion-item
      button
      routerDirection="forward"
      class="more-option"
    >
      <ion-icon name="mail"></ion-icon>
      <ion-label class="option">{{ 'settings.more.push_messages' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="more-option"
    >
      <ion-icon name="mail"></ion-icon>
      <ion-label class="option">{{ 'settings.more.flashcards' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="more-option"
    >
      <ion-icon name="mail"></ion-icon>
      <ion-label class="option">{{ 'settings.more.invite_friends' | translate }}</ion-label>
    </ion-item>
    <ion-item
      button
      routerDirection="forward"
      class="more-option"
    >
      <ion-icon name="mail"></ion-icon>
      <ion-label class="option">{{ 'settings.more.rate_us' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
