<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="btn-med" [name]="ICONS.settings"></ion-icon>
    <ion-title> {{ 'settings.name' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="options-content">
  <ion-list lines="full" class="settings-list">
    <app-data-item
      [title]="'input.fullName' | translate"
      [data]="user.name"
    ></app-data-item>
    <app-data-item
      [title]="'input.email' | translate"
      [data]="user.email"
    ></app-data-item>
    <app-divider></app-divider>
    <ion-item
      button
      [routerLink]="[APP_URL.menu.routes.settings.routes.user_groups]"
      routerDirection="forward"
      class="users-group-option"
    >
      <ion-icon [name]="ICONS.users_group"></ion-icon>
      <ion-label class="option"
        >{{'settings.user_groups.name' | translate}}</ion-label
      >
    </ion-item>
    <app-divider></app-divider>
    <ion-item
      button
      (click)="openLanguageChooser()"
      class="change-language-option"
    >
      <ion-icon [name]="ICONS.language"></ion-icon>
      <ion-label class="option"
        >{{'settings.language.change' | translate}}</ion-label
      >
    </ion-item>
    <ion-item
      button
      [routerLink]="[APP_URL.menu.routes.settings.routes.change_password]"
      routerDirection="forward"
      class="change-password-option"
    >
      <ion-icon [name]="ICONS.change_password"></ion-icon>
      <ion-label class="option"
        >{{'settings.password.change' | translate}}</ion-label
      >
    </ion-item>
    <ion-item button (click)="signOut()" class="sign-out-option">
      <ion-icon [name]="ICONS.sign_out"></ion-icon>
      <ion-label class="option">{{'settings.logout' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
