<ion-list lines="none" class="mixing-list" [ngClass]="{ 'border-bottom': steps && steps.length>0 }">
  <span *ngFor="let mixStep of steps; index as i">
    <ion-item-divider class="divider" [ngClass]="{ 'background-gray': i%2==0, 'background-white': i%2!=0 }">
      <ion-label>{{ "formulas.step" | translate }} {{ i + 1 }}</ion-label>
    </ion-item-divider>
    <ion-item class="mixing-item" [ngClass]="{ 'background-gray': i%2==0, 'background-white': i%2!=0 }">
      <ion-row class="ingredient-item-wrapper" [ngClass]="{ 'no-padding-bottom': mixStep.description }">
        <ion-col class="ingredients-wrapper">
          <ion-row>
            <ion-col class="ingredients-list">
              <p
                class="ingredients-name ingredient-item"
                *ngFor="let item of mixStep.ingredients; index as i"
              >
                {{ item.ingredient.name
                }}<span *ngIf="mixStep.ingredients[i + 1]">, </span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mixStep.description">
            <ion-col>
              <app-data-item
                [title]="'formulas.description' | translate"
                [data]="mixStep.description"
                [no_lines]="true"
              ></app-data-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </span>
</ion-list>
