// Variables

:host {
  --title-size: 16px;
  --description-size: 12px;
  --icon-size: 24px;
}

// Styles

.ios.title-default {
  padding: 0 0;
}

.btn-med {
  font-size: 26px;
  margin: 0 0 0 10px;
}

.options-content {
  --background: var(--ion-color-light);

  .settings-list {
    padding-top: 0;

    ion-item-divider {
      --background: var(--ion-color-light);
      --padding-start: var(--app-narrow-margin);
      color: var(--ion-color-medium);
      font-weight: 400;
      font-size: var(--title-size);
      border-bottom: 1px solid lightgray;
    }

    ion-icon {
      padding-right: 10px;
      color: var(--ion-color-primary);
      font-size: var(--icon-size);
    }

    .option {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    ion-item {
      --padding-start: var(--app-narrow-margin);
      font-size: var(--title-size);
    }
  }
}
