// Variables

:host {
  --icon-size: 24px;
  --page-background: var(--app-background);
}

// Styles

.options-content {
  --background: var(--page-background);

  .settings-list {
    padding: 0;

    ion-icon {
      padding-right: 10px;
      color: var(--ion-color-primary);
      font-size: var(--icon-size);
    }

    .option {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    ion-item {
      --padding-start: var(--app-narrow-margin);
      font-size: var(--title-size);
    }
  }
}
