.formulas-table {
  font-size: 13px;
  border: 1px solid var(--ion-color-primary);
  text-align: end;
  margin: var(--app-narrow-margin);

  .formulas-col {
    padding: 0px;
  }

  .name {
    width: 100%;
    text-align: start;
    font-weight: bold;
  }

  .title-row {
    border-bottom: 1px solid var(--ion-color-primary);
    font-style: bold;
    text-align: end;
    background: var(--ion-color-primary);
    color: white;

    .title-name {
      text-align: start;
    }
  }

  .formulas-row {
    border-bottom: 1px solid var(--ion-color-light-shade);

    .formula-name {
      text-align: start;
    }
  }

  .formula-times {
    text-align: end;
    padding-right: 0;
  }

  .total-row {
    .total-value {
      border-top: 1px solid var(--ion-color-light-shade);
    }
    .total-name {
      text-align: start;
    }
  }
}
