.ingredient-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
}

.ingredients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;

  .ingredients-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: black;
  }
}

.step-note {
  margin: 0;
  margin-right: 10px;
  color: cornflowerblue;
  font-size: 20px;
}
