// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

ion-select {
  width: 100%;
  justify-content: center;
}

.ingredient-content {
  --background: var(--page-background);

  .ingredients-list {
    padding-top: 0;
    padding-bottom: 0;

    ion-icon {
      padding-right: 16px;
      color: var(--ion-color-primary);
    }
  }

  .empty-block {
    height: 100%;

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
