<ion-card class="details-card" [ngClass]="{ highlight: highlight }">
  <ion-list lines="full" class="present-title present-ingredients">
    <ion-row *ngFor="let item of formulas">
      <ion-col size="12" class="present-ingredients-col">
        <ion-item
          class="production-title present-ingredients-item"
          (click)="item.show = !item.show"
        >
          <ion-row class="title-row">
            <ion-col size="9" class="no-padding">
              <h5 class="production-name production-formula-name">
                {{ item.formula.name }}
              </h5>
            </ion-col>
            <ion-col size="3" class="arrow-col no-padding">
              <ion-icon
                [name]="item.show ? ICONS.arrow_up : ICONS.arrow_down"
                button
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <div *ngIf="item.show" class="details-content">
          <!-- Main ingredients -->
          <app-ingredients-list
            [ingredients]="item.formula.ingredients"
            [bakers_percentage]="item.bakers_percentage"
          >
          </app-ingredients-list>
          <app-mixing-steps
            *ngIf="showMixing"
            [steps]="item.formula.mixing"
          ></app-mixing-steps>
          <!-- Step ingredients -->
          <span *ngFor="let step of item.formula.steps">
            <app-ingredients-list
              *ngIf="step.ingredients"
              [ingredients]="step.ingredients"
              [name]="step.name"
              [formula_weight]="item.formula.unit_weight*item.formula.units*item.number"
              [units]="item.number"
            >
            </app-ingredients-list>
          </span>
          <!-- Compound ingredients -->
          <span *ngIf="item.ingredients_formula.length > 0 && item.show">
            <ion-item class="production-subtitle">
              <ion-row class="title-row">
                <ion-col size="9">
                  <h5 class="production-subtitle-name">
                    {{ "ingredients.subingredients" | translate }}
                  </h5>
                </ion-col>
              </ion-row>
            </ion-item>
            <span *ngFor="let ingredientFormula of item.ingredients_formula">
              <app-ingredients-list
                [ingredients]="ingredientFormula.ingredient.formula.ingredients"
                [bakers_percentage]="ingredientFormula.bakers_percentage"
                [compensation]="
                  ingredientFormula.ingredient.formula.compensation_percentage
                "
                [name]="ingredientFormula.ingredient.name"
                [units]="item.number"
              >
              </app-ingredients-list>
              <app-mixing-steps
                *ngIf="showMixing"
                [steps]="ingredientFormula.ingredient.formula.mixing"
              ></app-mixing-steps>
            </span>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-card>
