<ion-item
  [detail]="clickable"
  [button]="true"
  class="formula-item"
  [ngClass]="{ 'background-gray': even, 'background-selected': selected }"
>
  <ion-row class="formula-item-wrapper">
    <ion-col class="formulas-wrapper">
      <ion-row>
        <ion-col>
          <h2 class="formulas-name">
            <app-text-shell
              animation="bouncing"
              lines="3"
              [data]="formula.name"
            ></app-text-shell>
          </h2>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="formula.id !== undefined">
        <ion-col size="8" class="properties-col">
          <p class="formula-user">
            {{ formula.user.creator.name }}
          </p>
          <p class="formulas-description">
            <ion-icon
              class="shared-icon"
              *ngIf="formula.user.cloned == true"
              name="people"
            ></ion-icon>
            <ion-icon class="properties-icon" name="water"></ion-icon
            >{{ hydration() }}%
          </p>
        </ion-col>
        <ion-col size="4" class="cost-col">
          <p class="formulas-description formula-cost">
            {{ unitCost() }}
            <span class="formula-currency"
              >{{ currency }}/{{ "formulas.unit_letter" | translate }}</span
            >
          </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>
