// Variables

:host {
  --page-margin: var(--app-narrow-margin);
  --page-background: var(--app-background);
}

// Styles

.ios.title-default {
  padding: 0 0;
}

ion-back-button {
  height: 0;
}

.manage-production-content {
  --background: var(--page-background);

  .list-col {
    padding: 0;
    background: white;
  }

  .start-button-col {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: white;

    .start-button {
      color: var(--ion-color-primary-shade);
      width: 60%;
      height: 70%;
    }

    .blocked {
      color: var(--ion-color-secondary);
    }
  }
}
