.title {
  --padding-start: 10px;

  .title-row {
    width: 100%;
    padding: 0;

    .title-col {
      padding-left: 0;

      .title-name {
        text-align: start;
        color: var(--ion-color-secondary);
      }
    }
  }
}
