<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'settings.support.how_to_use.name' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [value]="segementValue" color="secondary" (ionChange)="toggle()">
    <ion-segment-button value="list" mode="md">
      <ion-icon name="list-sharp"></ion-icon>        
    </ion-segment-button>
    <ion-segment-button value="matrix" mode="md">
      <ion-icon name="apps-sharp"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <!-- List -->
  <ion-list *ngIf="segementValue == 'list'">
    <ion-item *ngFor="let tutorial of tutorials" button lines="full" class="ion-no-padding" (click)="goToSet(tutorial)">
      <ion-thumbnail slot="start">
        <img class="smaller-img" [src]="tutorial.image"/>
      </ion-thumbnail>
      <ion-label class="normal-space">{{ tutorial.name }}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Matrix -->
  <ion-grid *ngIf="segementValue == 'matrix'">
    <ion-row>
      <ion-col size="6" *ngFor="let tutorial of tutorials">
        <div #ticket class="item-image-wrapper ion-text-center" (click)="goToSet(tutorial)">
          <div class="iconContainer">
            <img [src]="tutorial.image" />
          </div>
          <div class="category-name">
            {{ tutorial.name }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Skeleton -->
  <ion-list *ngIf="!tutorials">
    <ion-item *ngFor="let i of [1,2,3]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
