.formula-item {
  color: var(--ion-color-secondary);
}

.formula-item-wrapper {
  --ion-grid-column-padding: 0px;
  padding: 10px 0 10px 0;
  width: 100%;
  align-items: center;
}

.formulas-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: var(--page-margin);

  .formulas-name {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--ion-color-primary);
  }

  .formulas-description {
    font-size: 12px;
    margin: 0px;
  }
}

.properties-icon {
  color: var(--ion-color-secondary) !important;
  padding-right: 5px !important;
  margin-bottom: -2px;
}
